<div class="container">
  <!--    面包屑-->
  <div class="follow-info">
    <div class="follow-container">
      <div class="follow-trande-bread">
<!--        <router-link to="/index/followTrade" class="management">{{$t('followOrder')}}</router-link>-->
        <router-link to="/index/followTrade?isSwitchOrder=SPOT" class="management" v-if="isSwitchOrder == 'SPOT'">
          <!--现货镜像-->
          {{$t('现货镜像')}}
        </router-link>
        <router-link to="/index/followTrade?isSwitchOrder=CONTRACT" class="management" v-if="isSwitchOrder == 'CONTRACT'">
          <!--合约镜像-->
          {{$t('合约镜像')}}
        </router-link>
        <span> > </span>
        {{$t('myHomePage')}}
      </div>
    </div>
  </div>

  <div class="follow-asset">
    <div class="follow-asset-title">
      <div class="trade-top-banner flex">
        <div class="flex">
          <div>
            <img src="../assets/big-brother.png" alt="" class="trade-img">
          </div>
          <div class="trade-top-banner-text">{{userId}}</div>
        </div>
        <div class="follow-management pointer" @click="goToTapeListManage(isSwitchOrder)" v-if="isTapeList">
          <img src="../assets/setting_icon.png" alt="">
          <!--带单管理-->
          <span>{{$t('tapeListManagement')}}</span>
        </div>
      </div>
      <div class="trade-top-data flex">

        <div class="trade-data-item">
          <div class="trade-data">{{toFixed(godInfo.sum || '0',2)}}</div>
          <!--累计交易量-->
          <div>{{$t('totalTransactionVolume')}} (USDT)</div>
        </div>

        <div class="trade-data-item">
          <div class="trade-data">{{godInfo.count || '0'}}</div>
          <!--交易笔数-->
          <div>{{$t('numberOfTransactions')}}</div>
        </div>

        <div class="trade-data-item">
          <div class="trade-data">{{godInfo.followCount || '0'}}</div>
          <!--跟单人数-->
          <div>{{$t('totalDocumentaryNumber')}}</div>
        </div>

        <div class="trade-data-item">
          <div class="trade-data text-green" v-if="isSwitchOrder == 'SPOT'">{{toFixed(godInfo.rate * 10 * 10 || '0',2)}}%</div>
          <div class="trade-data text-green" v-if="isSwitchOrder == 'CONTRACT'">{{toFixed(godInfo.rate,2)}}</div>
          <!--收益率-->
          <div v-if="isSwitchOrder == 'SPOT'">{{$t('totalIncomeRate')}}</div>
          <div v-if="isSwitchOrder == 'CONTRACT'">收益 (USDT)</div>
        </div>
      </div>
    </div>

    <div class="trade-top-data-two" v-if="!isTapeList">
      <div class="trade-top-data-text">
        <!--该用户未分享交易活动-->
        <div class="trade-top-data-no">{{$t('notShare')}}</div>
        <!--开启带单交易，双重获利-->
        <div class="trade-top-data-btn pointer" v-if="isSwitchOrder == 'SPOT'" @click="openTapeList">{{$t('doubleProfit')}}</div>
        <div class="trade-top-data-btn pointer" v-if="isSwitchOrder == 'CONTRACT'" @click="openTapeListDisable">{{$t('doubleProfit')}}</div>
      </div>

    </div>

    <!-- 自己持仓-->
    <div class="record" v-if="isTapeList">
      <!--   当前持仓/跟随者-->
      <div class="recordMining borbot">
        <!--操作记录-->
        <div class="record_div pointer" @click="toggleType(1)" :class="{'selected_cardType':followType == 1}">{{$t('historicalPosition')}}</div>
        <!--跟随者-->
        <div class="record_div selected_cardTypeML pointer" @click="toggleType(2)" :class="{'selected_cardType':followType == 2}">{{$t('henchmaner')}}</div>
      </div>
      <!-- 当前持仓 -->
      <ul class="recordUl" v-if="followType == 1">
        <!--表头 S-->
        <li class="application_header">
          <!--时间-->
          <div class="application_header_div">{{$t('time')}}</div>
          <!--交易对-->
          <div class="application_header_div">{{$t('transactionPair')}}</div>
          <!--类型-->
          <div class="application_header_div">{{$t('type')}}</div>
          <div class="application_header_div" v-if="isSwitchOrder == 'CONTRACT'">{{$t('方向')}}</div>
          <!--价格-->
          <div class="application_header_div">{{$t('henchman')}}</div>
          <!--数量-->
          <div class="application_header_div">{{$t('amount')}}</div>
          <!--金额-->
          <div class="application_header_div_right">{{$t('money')}} (USDT)</div>
        </li>
        <template>
          <!-- 操作记录 -->
          <template v-if="godHistorList.length !== 0">
            <li class="flex application_li" v-for="(item,index) in godHistorList">
              <!--时间-->
              <div class="application_header_div">{{$globalFunc.formatDateUitl(Number(item.orderUpdatedAt),'YYYY-MM-DD hh:mm:ss')}}</div>
              <!--交易对-->
              <div class="application_header_div">{{item.symbol.replace('_','/')}}</div>
              <!--类型-->
<!--              <div class="application_header_div" :class="item.type=='BUY_LIMIT'?'text-green':'text-red'">-->
<!--                &lt;!&ndash;买入/卖出&ndash;&gt;-->
<!--                {{item.type == 'BUY_LIMIT'? $t('buyIn'):$t('selllOut')}}-->
<!--              </div>-->
              <div class="application_header_div"
                   v-if="isSwitchOrder == 'SPOT'"
                   :class="item.direction==='BUY_LIMIT' || item.direction==='BUY_MARKET'?'text-green':'text-red'">
                <!--限价买入-->
                {{contractType[item.orderType]}}
              </div>
              <div class="application_header_div" v-if="isSwitchOrder == 'CONTRACT'">
                <!--限价买入-->
                {{contractType[item.orderType]}}
              </div>

              <div class="application_header_div" :class="item.direction==='BUY'?'text-green':'text-red'" v-if="isSwitchOrder == 'CONTRACT'">
                {{$globalFunc.getOrderSide(item.positionSide,item.direction)}}
              </div>

              <!--价格-->
              <div class="application_header_div">{{toFixed(item.price,2)}}</div>
              <!--数量-->
              <div class="application_header_div">{{toFixed(item.amount,4)}}</div>
              <!--金额-->
              <div class="application_header_div_right">{{toFixed(item.price * item.amount,2)}}</div>
            </li>
          </template>

          <!-- 无数据图片 -->
          <template v-else>
            <li class="weit">
              <div class="nhtu"><img src="../assets/no_list.png">
                <p class="nhtu_p">{{$t('orderPageCurrentEntrustment.close_9')}}</p>
              </div>
            </li>
          </template>

          <!--当前记录加载更多  -->
          <!--            <template v-if="showLoadingMore && godHistorList.length !== 0">-->
          <!--              <li class="loading-more">-->
          <!--                <span class="text_blue pointer" v-if="!loadingMoreShow" @click="clickLoadingMore">{{$t('orderPageHistoricalEntrustment.close_10')}}</span>-->
          <!--                <span class="text_blue" v-else>{{$t('orderPageHistoricalEntrustment.close_11')}}</span>-->
          <!--              </li>-->
          <!--            </template>-->

        </template>
      </ul>
      <!-- 跟随者 -->
      <ul class="recordUl1" v-if="followType == 2">
        <!--跟随者 S-->
        <li class="flex application_header">
          <!--          账号-->
          <div class="application_header_div">{{$t('accountNumber')}}</div>
          <!--          跟单总成交额-->
          <div class="application_header_div">{{$t('totalDocumentaryAmount')}} (USDT)</div>
          <!--          跟随收益-->
          <div class="application-header-div-box">{{$t('followUpIncome')}} (USDT)</div>
        </li>
        <template>
          <!-- 跟随者-->
          <template v-if="followUserList.length !== 0">
            <li class="" v-for="(item,index) in followUserList" :key="item.id">

              <div class="flex application_li">
                <!--账号-->
                <div class="application_header_div ">{{item.userId}}</div>
                <!--跟单总成交额-->
                <div class="application_header_div ">{{toFixed(item.amount,2) || '0'}}</div>
                <!--跟随收益-->
                <div class="application-header-div-box ">{{toFixed(item.profit,2) || '0'}}</div>

              </div>
            </li>

          </template>
          <!-- 如果加载完成、已登录、有数据，则显示数据 end -->

          <!-- 如果没加载完成、没登录、没数据，则显示'--' begin -->
          <template v-else>
            <li class="weit">
              <div class="nhtu"><img src="../assets/no_list.png">
                <p class="nhtu_p">{{$t('orderPageCurrentEntrustment.close_9')}}</p>
              </div>
            </li>
          </template>
        </template>
      </ul>

    </div>
  </div>

  <!--开启镜像交易弹框-->
  <PopupWindow :switch="popWindowOpen" @close="popWindowClose">
    <div slot="header">
      <!--开启镜像交易-->
<!--      <span class="update-follow">{{$t('openStrategyDocumentary')}}</span>-->
      <span class="update-follow" v-if="isSwitchOrder == 'SPOT'">{{$t('现货镜像')}}</span>
      <span class="update-follow" v-if="isSwitchOrder == 'CONTRACT'">{{$t('合约镜像')}}</span>
    </div>
    <div slot="article" class="update-follow-article">
      <div class="flex choose" v-if="isSwitchOrder == 'SPOT'">
        <div class="fixed-amount" :class="fixedAmPr == 1 ? 'fixed-proportion' : ''" @click="fixedAmountPr(1)">固定费用</div>
        <div class="fixed-amount fixed-am" :class="fixedAmPr == 2 ? 'fixed-proportion' : ''" @click="fixedAmountPr(2)">收益提成</div>
      </div>
      <div class="flex choose" v-if="isSwitchOrder == 'CONTRACT'">
        <div class="fixed-amount-xin ">固定费用</div>
        <div class="fixed-amount fixed-am" :class="'fixed-proportion'">收益提成</div>
      </div>
      <div class="follow-order flex">
        <!--跟单币对-->
        <div>{{$t('documentaryCurrencyPair')}}</div>
        <div v-if="isSwitchOrder == 'SPOT'" class="follow-order-data">BTC ETH LTC BCH</div>
        <div v-if="isSwitchOrder == 'CONTRACT'" class="follow-order-data">BTCUSDT</div>
      </div>
      <div v-if="fixedAmPr == 1">
        <div class="follow-order-item flex">
          <!--跟单费用-->
          <div class="follow-order-pair">{{$t('跟单费用 (USDT/')}}{{followDay}}天) </div>
          <div class="follow-order-currency">
            <input v-model="currencyPair" v-if="!isHasItem" class="currency-account" onkeyup="value = value.match(/\d+(\.\d{0,2})?/) ? value.match(/\d+(\.\d{0,2})?/)[0] : ''">
          </div>
        </div>
        <div class="follow-order-item flex">
          <!--跟单费用-->
          <div class="follow-order-pair">{{$t('带单收入 (USDT/')}}{{followDay}}天)</div>
          <div class="follow-order-currency">
            {{fixedAmountPr2}}
          </div>
        </div>
      </div>
      <div v-if="fixedAmPr == 2">
        <div class="follow-order-item flex">
          <!--跟单费用-->
          <div class="follow-order-pair" v-if="isSwitchOrder == 'SPOT'">{{$t('带单提成(收益/笔)')}} </div>
          <div class="follow-order-pair" v-if="isSwitchOrder == 'CONTRACT'">{{$t('带单提成(收益/周)')}} </div>
          <div class="follow-order-currency">
            <input v-model="currencyPair" v-if="!isHasItem" class="currency-account" onkeyup="value = value.match(/\d+(\.\d{0,2})?/) ? value.match(/\d+(\.\d{0,2})?/)[0] : ''">
           %
          </div>
        </div>
        <div class="follow-order-item flex">
          <!--跟单费用-->
          <div class="follow-order-pair" v-if="isSwitchOrder == 'SPOT'">{{$t('跟单利润(收益/笔)')}}</div>
          <div class="follow-order-pair" v-if="isSwitchOrder == 'CONTRACT'">{{$t('跟单利润(收益/周)')}}</div>
          <div class="follow-order-currency">
            {{fixedAmountPr3}}%
          </div>
        </div>
      </div>


      <div class="mobile-open-tape-pop-window-content-text">
        <div>{{$t('openInterpretation_1',{godFee})}}</div>
        <div v-if="fixedAmPr == 1">{{$t('openInterpretation_2')}}</div>
        <!--开启后，如您收益率靠前，您将可能出现在带单收益榜榜单中，同时可被用户跟单，零成本获得额外的带单收益，双重盈利。-->
        <div v-if="fixedAmPr == 1">{{$t('openInterpretation_3')}}</div>
        <div v-if="fixedAmPr == 2">{{$t('openInterpretation_9')}}</div>
      </div>
    </div>
    <div slot="footer" class="pop-recharge-bottom">
      <div class="documentary-text flex">
        <div>所需保证金</div>
        <div class="text-blue-documentary">{{godFee}} TT</div>
      </div>
      <!--确认开启-->
      <div class="documentary-button pointer" @click="postCommitFee">{{$t('commitOpen')}}</div>
    </div>
  </PopupWindow>

  <!--toast弹框-->
  <PopupPrompt :popOpen="popOpen" :popClose="closePop" :popType="popType" :popText="popText" :waitTime="waitTime" />


  <!--  合约风险提示-->
  <OpenTapeListDisable :switch="popWindowOpenContract">
    <div slot="conter">
      <div class="div-one">开启带单后以下功能将被禁用：</div>
      <div class="div-two"> <span class="yuan-span m-f"></span> 仓位模式修改 <span class="yuan-span"></span> 保证金模式修改 <span class="yuan-span"></span> 杠杆倍数修改
        <div><span class="yuan-span m-f"></span> 资金划转</div></div>

    </div>
    <div slot="footer" class="flex footer-btn">
      <div class="popWindow-article2" @click="popCloseTemporarilyClosed">取消</div>
      <div class="popWindow-btn" @click="openAContract">同意</div>
      <!--      <div class="popWindow-btn" @click="openAContract">开通</div>-->
    </div>
  </OpenTapeListDisable>

</div>
