<div class="follow-trade">
  <div class="follow-trade-conter">
    <div class="follow-trade-img-box">
      <img src="../assets/banner-pc.png" alt="" class="follow-trade-img">
    </div>
  </div>

  <div class="follow-trade-c-position">

    <div class="flex follow-status">
      <div class="follow-status-box flex">
        <!--带单收益榜-->
<!--        <div class="follow-long">{{$t('listOfDragonsAndTigers')}}</div>-->
        <div class="follow-long" :class="switchOrder == 'CONTRACT'? '' : 'switchCss'" v-if="" @click="switchingOrders('CONTRACT')">{{$t('合约镜像')}}</div>
        <div class="follow-long" :class="switchOrder == 'SPOT'? '' : 'switchCss'" v-if="" @click="switchingOrders('SPOT')">{{$t('现货镜像')}}</div>
        <!--数据每小时更新一次-->
<!--        <div class="follow-xue">{{$t('updatedEveryHour')}}</div>-->
      </div>
      <div class="follow-my" v-if="isGod && isLogin">
        <!--我的镜像交易-->
        <div class="follow-my-bix" @click="goToManagementWithBill(switchOrder,isGod)">{{$t('带单管理')}}</div>
      </div>
      <div class="follow-my" v-if="!isGod && isLogin">
        <!--我的镜像交易-->
        <div class="follow-my-bix" @click="goToMyFollowOrder(switchOrder)">{{$t('myFollowOrder')}}</div>
        <!--我要带单-->
        <div class="follow-my-bix follow-my-box" @click="goTofollowTradeStrategy(switchOrder)">{{$t('bringTheBill')}}</div>
      </div>
    </div>

    <div class="follow-data" v-if="listGod.length != 0" v-for="(item,index) in listGod">

      <div class="follow-data-box flex" @click="goToDocumentary1(item.userId,item.fee,item.feeType,switchOrder)">
        <img class="follow-data-box-img" src="../assets/big-brother2.png" alt="">
        <div class="follow-data-box-img-box">{{item.userId}}</div>
      </div>
      <div class="flex weit-fol" v-if="" >
        <div class="flex weit-fol" @click="goToDocumentary1(item.userId,item.fee,item.feeType,switchOrder)">
          <div class="flex follow-buw" >
            <div class="follow-wi" v-if="isSwitchOrder == 'SPOT'">
              <div class="follow-bink">{{toFixed(item.sum || '0',2)}}</div>
              <!--累计交易量-->
              <div class="follow-gru2">{{$t('totalTransactionVolume')}} (USDT)</div>
            </div>
            <!--本周收益率-->
            <div class="follow-wi" v-if="isSwitchOrder == 'CONTRACT'">
              <div class="follow-bink" :class="item.weekRate >= 0 ? 'text-green' : 'text-red'">{{item.weekRate ? toFixed(item.weekRate, 2) : '0'}}%</div>
              <div class="follow-gru2">{{$t('本周收益率')}}</div>
            </div>
            <!--本周收益-->
            <div class="follow-wi" v-if="isSwitchOrder == 'CONTRACT'">
              <div class="follow-bink" :class="item.weekProfit >= 0 ? 'text-green' : 'text-red'">{{item.weekProfit ? toFixed(item.weekProfit, 2) : '0'}}</div>
              <div class="follow-gru2">{{$t('本周收益')}} (USDT)</div>
            </div>
            <!--总收益率-->
            <div class="follow-wi">
              <div class="follow-gru" v-if="isSwitchOrder == 'SPOT'" :class="item.rate >= 0 ? 'text-green' : 'text-red'">{{item.rate ? toFixed(item.rate * 10 * 10 || 0 , 2) : '0'}}%</div>
              <div class="follow-gru" v-if="isSwitchOrder == 'CONTRACT'" :class="item.rate >= 0 ? 'text-green' : 'text-red'">{{item.rate ? toFixed(item.rate, 2) : '0'}}%</div>
              <div class="follow-gru2" v-if="isSwitchOrder == 'SPOT'">{{$t('totalIncomeRate')}}</div>
              <div class="follow-gru2" v-if="isSwitchOrder == 'CONTRACT'">总收益率</div>
            </div>
            <!--本周收益-->
            <div class="follow-wi" v-if="isSwitchOrder == 'CONTRACT'">
              <div class="follow-bink" :class="item.profit >= 0 ? 'text-green' : 'text-red'">{{item.profit ? toFixed(item.profit, 2) : '0'}}</div>
              <div class="follow-gru2">{{$t('总收益')}} (USDT)</div>
            </div>
            <div class="follow-wi" v-if="isSwitchOrder == 'SPOT'">
              <div class="follow-bink">{{item.count}}</div>
              <!--交易笔数-->
              <div class="follow-gru2">{{$t('numberOfTransactions')}}</div>
            </div>
            <div class="follow-wi">
              <div class="follow-bink">{{item.followCount || '0'}}</div>
              <!--当前跟单人数-->
              <div class="follow-gru2">{{$t('totalDocumentaryNumber')}}</div>
            </div>



          </div>

        </div>
        <div class="follow-btn-box">
          <!--天-->
          <div class="follow-gde" v-if="item.feeType == 'LOT'">{{item.fee}} USDT/{{days}}{{$t('days')}}费用</div>
          <div class="follow-gde" v-if="item.feeType == 'RATE' && switchOrder == 'CONTRACT'">跟单收益 {{accAdd(item.fee,30)}}%/周</div>
          <div class="follow-gde" v-if="item.feeType == 'RATE' && switchOrder == 'SPOT'">跟单收益 {{accAdd(item.fee,30)}}%/笔</div>
          <!--跟单-->
          <div class="follow-fff" @click="goToDocumentary(item.userId,item.fee,item.feeType,switchOrder)" v-if="godList.indexOf(item.userId) < 0 && item.canFollow == 1">{{$t('documentary')}}</div>
          <!--已跟单-->
          <div class="following" v-if="godList.indexOf(item.userId) >= 0 || item.canFollow == 0">{{godList.indexOf(item.userId) >= 0?$t('following'):'跟单'}}</div>
        </div>
      </div>



    </div>

    <!-- 无数据图片 -->
    <template v-if="listGod.length == 0">
      <div class="weit">
        <div class="nhtu"><img src="../assets/no_list.png">
          <p class="nhtu_p">{{$t('orderPageCurrentEntrustment.close_9')}}</p>
        </div>
      </div>
    </template>
  </div>

  <!--   提示 弹窗-->
  <PopupWindow :switch="popWindowOpenShiM" @close="popWindowCloseShiM">
    <div slot="header">
      <span class="header_xuzhi">{{popWindowTitle}}</span>
    </div>
    <div slot="article" class="pop-recharge">{{popWindowPrompt}}</div>
    <div slot="footer" class="pop-recharge-bottom flex-center">
      <template v-if="popWindowStyle==0">
        <button @click="popWindowCloseShiM" class="button-base33 btn_simple pointer">{{$t('cancel')}}</button>
        <button @click="goToBindIdentity" class="button-base33 btn_blue pointer m-l">{{$t('verification')}}</button>
      </template>
      <template v-if="popWindowStyle==1">
        <button @click="popWindowCloseShiM" class="button-base33 btn_simple pointer">{{$t('cancel')}}</button>
        <button @click="goToSecurityCenter" class="button-base33 btn_blue pointer m-l">{{$t('beBinding')}}</button>
      </template>
      <template v-if="popWindowStyle==3">
        <button @click="popWindowCloseShiM" class="button-base33 btn_simple pointer">{{$t('cancel')}}</button>
        <button @click="goToSecurityCenter" class="button-base33 btn_blue pointer m-l">{{$t('beBinding')}}</button>
      </template>

    </div>

  </PopupWindow>


  <!--toast弹框-->
  <PopupPrompt :popOpen="popOpen" :popClose="closePop" :popType="popType" :popText="popText" :waitTime="waitTime" />



</div>
