<div class="mobile-follow-trade">
<!--  <Loading v-if="loading"/>-->
  <!--ios status栏-->
  <div v-if="(isApp)" class="mobile-status-bar-ios"/>
  <div v-if="(isApp)" class="mobile-status-bar-bg-ios"/>

  <!-- 头部-->
  <div :class="(isApp) ? 'mobile-header-ios' : 'fund-buy-header-title' ">
    <div class="fund-buy-header-title-back-icon" @click="goToFollowTrade">
      <img class="fund-buy-header-title-back-icon-img" src="../../LuckyDraw/assets/mobileForecastHomePage/back_icon.png" alt="">
    </div>
    <div class="fund-buy-header-title-text" v-if="isSwitchOrder == 'SPOT'">现货跟单</div>
    <div class="fund-buy-header-title-text" v-if="isSwitchOrder == 'CONTRACT'">合约跟单</div>
  </div>

  <!--  跟单主体部分-->
  <div class="fund-buy-main" v-if="isSwitchOrder == 'SPOT'">

    <div class="fund-description-info">
      <div class="fund-description-info-item">
        <div class="fund-description-info-left">带单者</div>
        <div class="fund-description-info-right" v-if="!isHasItem">{{$route.query.userId || '--'}}</div>
        <div class="fund-description-info-right" v-if="isHasItem">{{queryItem.followId || '--'}}</div>
      </div>
      <div class="fund-description-info-item">
        <div class="fund-description-info-left">带单交易对</div>
        <div class="fund-description-info-right">BTC ETH LTC BCH</div>
      </div>
      <div class="fund-description-felx">
        <div class="fund-description-info-left">跟单方式</div>
      </div>
      <div class="flex">
        <div class="fixed-amount-proportion" :class="followType == 'LOT' ? 'fixed-amount' : '' " @click="fixedType('LOT')">固定金额</div>
        <div class="fixed-amount-proportion" :class="followType == 'RATE' ? 'fixed-amount' : '' " @click="fixedType('RATE')">固定比例</div>
      </div>
      <div class="fund-description-amount" v-if="followType == 'LOT'">
        <div class="fund-description-usdt">跟单金额(₮)</div>
        <div class="fund-description-info-right-input">
          <input v-model="fixedAmountLot" placeholder="输入金额"
                 step="1"  min="0" onkeyup="this.value= this.value.match(/\d+(\.\d{0,2})?/) ? this.value.match(/\d+(\.\d{0,2})?/)[0] : ''">
        </div>
      </div>
      <div class="fund-description-amount" v-if="followType == 'RATE'">
<!--        <div class="fund-description-usdt">单位基准(₮/单位)</div>-->
<!--        <div class="fund-description-info-right-input">-->
<!--          <input v-model="fixedAmountRate" placeholder="输入比例"-->
<!--                 step="1"  min="0" onkeyup="this.value= this.value.match(/\d+(\.\d{0,2})?/) ? this.value.match(/\d+(\.\d{0,2})?/)[0] : ''"> %-->
<!--        </div>-->
      </div>
      <div class="remind" v-if="followType == 'LOT'" >
        <div>固定金额跟单：</div>
        <div>1. 若选择按照“固定金额”跟单，则跟单者每次跟单的金额会由其自行设定的固定金额确定；</div>
        <div>2. 若跟单者设置跟单金额为100₮，则无论带单者以什么金额下单，跟单者都将以100₮作为跟单下单的金额，并以带单者下单的价格，自动跟单下单；</div>
        <div>3. 若跟单者可用资产小于100₮，则该次跟单失败。</div>
<!--        <div>4. 在交易员未进行撤单操作时，您也可以自行取消该笔跟单操作；</div>-->
<!--        <div>5. 买入、卖出均已₮进行核算，例：以一个BTC10000美金为例，100₮固定金额相当于 0.01BTC。</div>-->
      </div>
      <div class="remind" v-if="followType == 'RATE'">
        <div>固定比例跟单：</div>
        <div>1. 若选择按照“固定比例”跟单，则跟单者每次跟单的仓位占自有总仓位的百分比，将由其跟单的带单者下单时所使用的仓位占带单者自有总仓位的百分比确定；</div>
        <div>2. 假设带单者总资金为1,000₮，跟单者总资金为500₮；若带单者以10%的仓位 (即100₮) 下单，则跟单者也将以自己10%的仓位 (即50₮) 进行自动跟单；</div>
        <div>3. 假设带单者总资金为1,000₮，跟单者总资金为10,000₮；若带单者以100%的仓位 (即1,000₮) 下单，则跟单者也将以自己100%的仓位 (即10,000₮) 进行自动跟单。</div>
        <div>4. 若跟单者可用资产不足最低挂单数量，则该次跟单失败。</div>
<!--        <div>5. 当交易员撤掉时，您同步跟单的该笔订单将同步被撤销；</div>-->
<!--        <div>6. 在交易员未进行撤单操作时，您也可以自行取消该笔跟单操作。</div>-->
      </div>

    </div>
  </div>
  <div class="fund-buy-main" v-if="isSwitchOrder == 'CONTRACT'">

    <div class="fund-description-info">
      <div class="fund-description-felx">
        <div class="fund-description-info-left"><span class="shu-contract-h5"></span>带单者</div>
        <div class="fund-description-info-right" v-if="!isHasItem">{{$route.query.userId || '--'}}</div>
        <div class="fund-description-info-right" v-if="isHasItem">{{queryItem.followId || '--'}}</div>
      </div>
      <div class="fund-description-felx">
        <div class="fund-description-info-left"><span class="shu-contract-h5"></span>带单交易对</div>
        <div class="fund-description-info-right">BTC ETH</div>
      </div>
      <div class="fund-description-felx">
        <div class="fund-description-info-left"><span class="shu-contract-h5"></span>跟单方式</div>
        <div class="fund-description-info-right">固定比例</div>
      </div>
      <div class="fund-description-felx com-s">
        <div class="fund-description-info-left"><span class="shu-contract-h5"></span>跟单策略</div>
        <div class="fund-description-info-right"></div>
      </div>
      <div>
        <div class="flex">
          <div class="gendancelue-color">仓位策略</div>
          <div class="flex" @click="clickStrategy(1)">
            <img class="cnose-img" src="../assets/nose.png" alt="" v-if="strategyType==2">
            <img class="cnose-img" src="../assets/se.png" alt="" v-if="strategyType==1">
            <!--输入金额-->
            <div class=" " :class="strategyType==1?'fund-description-info-right-input-contract':'fund-description-info-right-input-contract-sele'">
              <input v-model="strategyInput" @blur="strategyInputBlur"
                     onkeyup="this.value.length==1?this.value=this.value.replace(/[^1-9]/g,''):this.value=this.value.replace(/\D/g,'')">%
            </div>

          </div>
          <div class="cnose" :class="strategyType==1?'no-sele':'sele'" @click="clickStrategy(2)">
            <img class="cnose-img" src="../assets/nose.png" alt="" v-if="strategyType==1">
            <img class="cnose-img" src="../assets/se.png" alt="" v-if="strategyType==2">
            完全跟随
          </div>
        </div>
        <div class="explain">
          跟单仓位比例由此策略与带单仓位比例共同决定。
         <p>若带单仓位为10%，此策略为80%，则跟单仓位比例为10%*80%=8%</p>
        </div>
        <div class="flex">
          <div class="gendancelue-color">止盈策略</div>
          <div class="flex" @click="stopEarningStrategy(1)">
            <img class="cnose-img" src="../assets/nose.png" alt="" v-if="stopStrategyType==2">
            <img class="cnose-img" src="../assets/se.png" alt="" v-if="stopStrategyType==1">
            <!--输入金额-->
            <div class=" " :class="stopStrategyType==1?'fund-description-info-right-input-contract':'fund-description-info-right-input-contract-sele'">
              <input v-model="stopStrategyInput" @blur="stopStrategyInputBlur"
                     onkeyup="this.value.length==1?this.value=this.value.replace(/[^1-9]/g,''):this.value=this.value.replace(/\D/g,'')">%
            </div>

          </div>
          <div class="cnose" :class="stopStrategyType==1?'no-sele':'sele'" @click="stopEarningStrategy(2)">
            <img class="cnose-img" src="../assets/nose.png" alt="" v-if="stopStrategyType==1">
            <img class="cnose-img" src="../assets/se.png" alt="" v-if="stopStrategyType==2">
            完全跟随
          </div>
        </div>
        <div class="explain">
          跟单仓位或以此策略平仓止盈，具体以此策略与带单止盈策略二者中先触发者为准
        </div>
        <div class="flex">
          <div class="gendancelue-color">止损策略</div>
          <div class="flex" @click="stopLossStrategy(1)">
            <img class="cnose-img" src="../assets/nose.png" alt="" v-if="stopLossType==2">
            <img class="cnose-img" src="../assets/se.png" alt="" v-if="stopLossType==1">
            <!--输入金额-->
            <div class=" " :class="stopLossType==1?'fund-description-info-right-input-contract':'fund-description-info-right-input-contract-sele'">
              <input v-model="stopLossInput" @blur="stopLossInputBlur"
                     onkeyup="this.value.length==1?this.value=this.value.replace(/[^1-9]/g,''):this.value=this.value.replace(/\D/g,'')">%
            </div>

          </div>
          <div class="cnose" :class="stopLossType==1?'no-sele':'sele'" @click="stopLossStrategy(2)">
            <img class="cnose-img" src="../assets/nose.png" alt="" v-if="stopLossType==1">
            <img class="cnose-img" src="../assets/se.png" alt="" v-if="stopLossType==2">
            完全跟随
          </div>
        </div>
        <div class="explain bottom-ex">
          跟单仓位或以此策略平仓止损，具体以此策略与带单止损策略及跟单仓位强平价格三者中先触发者为准
        </div>
      </div>
    </div>
  </div>

<!-- 跟单按钮 -->
  <div :class="!isHasItem ? 'documentary-box' : 'documentary-box-has-item'">
    <div class="mobile-trade-open-exchange-text flex" v-if="!isHasItem">
      <div class="mobile-trade-fee">费用</div>
      <div class="mobile-trade-order-fee text_blue" v-if="followType == 'LOT'">{{$route.query.fee}} ₮/{{$route.query.days}}天</div>
      <div class="mobile-trade-order-fee text_blue" v-if="followType == 'RATE' && isSwitchOrder == 'CONTRACT'">跟单收益 {{accAdd($route.query.fee,30) || '0'}}%/周</div>
      <div class="mobile-trade-order-fee text_blue" v-if="followType == 'RATE' && isSwitchOrder == 'SPOT'">跟单收益 {{accAdd($route.query.fee,30) || '0'}}%/笔</div>
    </div>
    <div class="documentary-button" @click="openDocumentaryWindow" v-if="!isHasItem">立即跟单</div>
<!--    <div class="documentary-button" @click="openDocumentaryWindow" v-if="!isHasItem && !follow">跟单中</div>-->
    <div class="documentary-button" @click="commitModify" v-if="isHasItem">确认修改</div>
  </div>

  <PopupPrompt :popOpen="popOpen" :popClose="closePop" :popType="popType" :popText="popText" :waitTime="waitTime" />

  <!--弹窗-->
  <div v-if="delFollowOpen" class="forecast-activity-toast">
    <div class="forecast-activity-toast-box">
      <div class="forecast-activity-toast-title">跟单确认
        <span class="forecast-activity-toast-close-btn" @click="delFollowClose">
          <img class="forecast-activity-toast-close-btn-img" src="../../../components/LuckyDraw/assets/mobileForecastHomePage/close_btn.png" alt="">
        </span>
      </div>
      <div class="del-follow-text" v-if="isSwitchOrder == 'SPOT'">
        <div>跟单：<span class="text_blue">{{$route.query.userId || ''}}</span></div>
        <div v-if="followType == 'LOT'">
          费用： 将扣除 <span class="text_blue">{{$route.query.fee}} ₮/7天</span>
        </div>
        <div v-if="followType == 'RATE'">
          费用： 将扣除跟单收益 <span class="text_blue">{{accAdd($route.query.fee,30) || '0'}}%/笔</span>
        </div>
      </div>
      <div class="del-follow-text-contract" v-if="isSwitchOrder == 'CONTRACT'">
        <div class="fund-description-felx">
          <div class="fund-description-info-left"><span class="shu-contract-h5"></span>带单账号</div>
          <div class="fund-description-info-right text_blue">{{$route.query.userId || ''}}</div>
        </div>
        <div class="fund-description-felx">
          <div class="fund-description-info-left"><span class="shu-contract-h5"></span>跟单费用</div>
          <div class="fund-description-info-right text_blue">跟单收益 {{accAdd($route.query.fee,30) || '0'}}%/周</div>
        </div>
        <div class="fund-description-felx">
          <div class="fund-description-info-left"><span class="shu-contract-h5"></span>仓位策略</div>
          <div class="fund-description-info-right text_blue">{{strategyType==1?stopStrategyInput + '%':'完全跟随'}}</div>
        </div>
        <div class="fund-description-felx">
          <div class="fund-description-info-left"><span class="shu-contract-h5"></span>止盈策略</div>
          <div class="fund-description-info-right text_blue">{{stopStrategyType==1?stopStrategyInput + '%':'完全跟随'}}</div>
        </div>
        <div class="fund-description-felx">
          <div class="fund-description-info-left"><span class="shu-contract-h5"></span>止损策略</div>
          <div class="fund-description-info-right text_blue">{{stopLossType==1?stopLossInput + '%':'完全跟随'}}</div>
        </div>
      </div>
      <div class="forecast-activity-toast-btn" v-if="follow" @click="postDocumentaryImmediately">确 定</div>
      <div class="forecast-activity-toast-btn" v-if="!follow">确 定 中</div>
    </div>
  </div>

</div>
