<div class="mobile-follow-trade">
<!--  <Loading v-if="loading"/>-->
  <!--ios status栏-->
  <div v-if="(isApp)" class="mobile-status-bar-ios"/>
  <div v-if="(isApp)" class="mobile-status-bar-bg-ios"/>

  <!-- 头部-->
  <div :class="(isApp) ? 'mobile-header-ios' : 'fund-buy-header-title' ">
    <div class="fund-buy-header-title-back-icon" @click="goToFollowTrade">
      <img class="fund-buy-header-title-back-icon-img" src="../../LuckyDraw/assets/mobileForecastHomePage/back_icon.png" alt="">
    </div>
    <div class="fund-buy-header-title-text" v-if="isSwitchOrder == 'SPOT'">现货跟单</div>
    <div class="fund-buy-header-title-text" v-if="isSwitchOrder == 'CONTRACT'">合约跟单</div>
  </div>

  <!--  跟单主体部分-->
  <div class="fund-buy-main">

    <div class="fund-description-info">
      <div class="fund-description-info-item">
        <div class="fund-description-info-left">带单者</div>
        <div class="fund-description-info-right" v-if="!isHasItem">{{$route.query.userId || '--'}}</div>
        <div class="fund-description-info-right" v-if="isHasItem">{{queryItem.followId || '--'}}</div>
      </div>
      <div class="fund-description-info-item">
        <div class="fund-description-info-left">带单交易对</div>
        <div class="fund-description-info-right" v-if="isSwitchOrder == 'SPOT'">BTC ETH LTC BCH</div>
        <div class="fund-description-info-right" v-if="isSwitchOrder == 'CONTRACT'">BTCUSDT</div>
      </div>
      <div class="fund-description-felx">
        <div class="fund-description-info-left">跟单方式</div>
      </div>
      <div class="flex" v-if="isSwitchOrder == 'SPOT'">
        <div class="fixed-amount-proportion" :class="followType == 'LOT' ? 'fixed-amount' : '' " @click="fixedType('LOT')">固定金额</div>
        <div class="fixed-amount-proportion" :class="followType == 'RATE' ? 'fixed-amount' : '' " @click="fixedType('RATE')">固定比例</div>
      </div>
      <span v-if="isSwitchOrder == 'CONTRACT'" class="fixed-amount-proportion fixed-amount" @click="fixedType('RATE')">固定比例</span>
      <div class="fund-description-amount" v-if="followType == 'LOT'">
        <div class="fund-description-usdt">跟单金额(USDT)</div>
        <div class="fund-description-info-right-input">
          <input v-model="fixedAmountLot" placeholder="输入金额"
                 step="1"  min="0" onkeyup="this.value= this.value.match(/\d+(\.\d{0,2})?/) ? this.value.match(/\d+(\.\d{0,2})?/)[0] : ''">
        </div>
      </div>
      <div class="fund-description-amount" v-if="followType == 'RATE'">
<!--        <div class="fund-description-usdt">单位基准(USDT/单位)</div>-->
<!--        <div class="fund-description-info-right-input">-->
<!--          <input v-model="fixedAmountRate" placeholder="输入比例"-->
<!--                 step="1"  min="0" onkeyup="this.value= this.value.match(/\d+(\.\d{0,2})?/) ? this.value.match(/\d+(\.\d{0,2})?/)[0] : ''"> %-->
<!--        </div>-->
      </div>
      <div class="remind" v-if="followType == 'LOT'" >
        <div>固定金额跟单：</div>
        <div>1. 若选择按照“固定金额”跟随，则跟单者每次跟单的金额会由其自行设定的固定金额确定；</div>
        <div>2. 若跟单者设置跟单金额为100 USDT，则无论带单者以什么金额下单，跟单者都将以100 USDT作为跟随下单的金额，并以带单者下单的价格，自动跟随下单；</div>
        <div>3. 若跟单者可用资产小于100USDT，则该次跟单失败。</div>
<!--        <div>4. 在交易员未进行撤单操作时，您也可以自行取消该笔跟单操作；</div>-->
<!--        <div>5. 买入、卖出均已USDT进行核算，例：以一个BTC10000美金为例，100USDT固定金额相当于 0.01BTC。</div>-->
      </div>
      <div class="remind" v-if="followType == 'RATE'">
        <div>固定比例跟单：</div>
        <div>1. 若选择按照“固定比例”跟随，则跟单者每次跟单的仓位占自有总仓位的百分比，将由其跟随的带单者下单时所使用的仓位占带单者自有总仓位的百分比确定；</div>
        <div>2. 假设带单者总资金为1,000 USDT，跟单者总资金为500 USDT；若带单者以10%的仓位 (即100 USDT) 下单，则跟单者也将以自己10%的仓位 (即50 USDT) 进行自动跟单；</div>
        <div>3. 假设带单者总资金为1,000 USDT，跟单者总资金为10,000 USDT；若带单者以100%的仓位 (即1,000 USDT) 下单，则跟单者也将以自己100%的仓位 (即10,000 USDT) 进行自动跟单。</div>
        <div>4. 若跟单者可用资产不足最低挂单数量，则该次跟单失败。</div>
<!--        <div>5. 当交易员撤掉时，您同步跟随的该笔订单将同步被撤销；</div>-->
<!--        <div>6. 在交易员未进行撤单操作时，您也可以自行取消该笔跟单操作。</div>-->
      </div>

    </div>
  </div>

<!-- 跟单按钮 -->
  <div :class="!isHasItem ? 'documentary-box' : 'documentary-box-has-item'">
    <div class="mobile-trade-open-exchange-text flex" v-if="!isHasItem">
      <div class="mobile-trade-fee">费用</div>
      <div class="mobile-trade-order-fee text_blue" v-if="followType == 'LOT'">{{$route.query.fee}} USDT/{{$route.query.days}}天费用</div>
      <div class="mobile-trade-order-fee text_blue" v-if="followType == 'RATE' && isSwitchOrder == 'CONTRACT'">跟单利润 {{accAdd($route.query.fee,20) || '0'}}%/周费用</div>
      <div class="mobile-trade-order-fee text_blue" v-if="followType == 'RATE' && isSwitchOrder == 'SPOT'">跟单利润 {{accAdd($route.query.fee,20) || '0'}}%/笔费用</div>
    </div>
    <div class="documentary-button" @click="openDocumentaryWindow" v-if="!isHasItem">立即跟单</div>
<!--    <div class="documentary-button" @click="openDocumentaryWindow" v-if="!isHasItem && !follow">跟单中</div>-->
    <div class="documentary-button" @click="commitModify" v-if="isHasItem">确认修改</div>
  </div>

  <PopupPrompt :popOpen="popOpen" :popClose="closePop" :popType="popType" :popText="popText" :waitTime="waitTime" />

  <!--弹窗-->
  <div v-if="delFollowOpen" class="forecast-activity-toast">
    <div class="forecast-activity-toast-box">
      <div class="forecast-activity-toast-title">跟单确认
        <span class="forecast-activity-toast-close-btn" @click="delFollowClose">
          <img class="forecast-activity-toast-close-btn-img" src="../../../components/LuckyDraw/assets/mobileForecastHomePage/close_btn.png" alt="">
        </span>
      </div>
      <div class="del-follow-text">
        <div>跟随者：<span class="text_blue">{{$route.query.userId || ''}}</span></div>
        <div v-if="followType == 'LOT'">
          将扣除 <span class="text_blue">{{$route.query.fee}} USDT</span> 跟单费用
        </div>
        <div v-if="followType == 'RATE' && isSwitchOrder == 'CONTRACT'">
          将扣除 <span class="text_blue">跟单利润{{accAdd($route.query.fee,20) || '0'}}%/周费用</span>
        </div>
        <div v-if="followType == 'RATE' && isSwitchOrder == 'SPOT'">
          将扣除 <span class="text_blue">跟单利润{{accAdd($route.query.fee,20) || '0'}}%/笔费用</span>
        </div>
      </div>
      <div class="forecast-activity-toast-btn" v-if="follow" @click="postDocumentaryImmediately">确 定</div>
      <div class="forecast-activity-toast-btn" v-if="!follow">确 定 中</div>
    </div>
  </div>

</div>
