<div class="mobile-trade-tape-manage">
  <!--ios status栏-->
  <div v-if="(isApp)" class="mobile-status-bar-ios"/>
  <div v-if="(isApp)" class="mobile-status-bar-bg-ios"/>

  <!--顶部标题-->
  <div :class="(isApp) ? 'mobile-header-ios' : 'mobile-trade-header-title' ">
    <!--返回按钮-->
    <div class="mobile-trade-header-title-back-icon" @click="jumpToFollowTradeStrategy()">
      <img class="mobile-trade-header-title-back-icon-img" src="../../LuckyDraw/assets/mobileForecastHomePage/back_icon.png" alt="">
    </div>
    <!--UID标题-->
<!--    <div class="fund-buy-header-title-text">带单管理</div>-->
    <div class="fund-buy-header-title-text" v-if="isSwitchOrder == 'SPOT'">现货带单管理</div>
    <div class="fund-buy-header-title-text" v-if="isSwitchOrder == 'CONTRACT'">合约带单管理</div>
  </div>

  <div class="mobile-trade-header-null-data"></div>

  <div class="mobile-open-tape-list">
    <!--没有开启带单-->
    <div v-if="isHasItem" >
      <div class="mobile-open-tape-list-btn-top flex">
        <div class="mobile-open-tape-list-fee">带单费用：
          <span class="text_blue" v-if="godInfo.feeType == 'LOT'">{{godInfo.fee}} USDT / {{followDay}}天</span>
          <span class="text_blue" v-if="godInfo.feeType == 'RATE'">每笔收益收取 {{accAdd(godInfo.fee,20)}}%</span>
        </div>
        <div class="mobile-open-tape-list-operation" @click="RevisionFee">
          <img src="../assets/single_setting_icon.png" alt="">
        </div>
      </div>
    </div>
    <!--已开启带单-->
    <div class="mobile-open-tape-list-btn" v-else>
    <div class="mobile-open-tape-list-top flex">
<!--      <div class="mobile-open-tape-list-title">开启带单</div>-->
      <div class="mobile-open-tape-list-title" v-if="isSwitchOrder == 'SPOT'">开启现货带单</div>
      <div class="mobile-open-tape-list-title" v-if="isSwitchOrder == 'CONTRACT'">开启合约带单</div>
      <div class="mobile-open-tape-list-button" @click="openMask">开启</div>
    </div>
    <div class="mobile-open-tape-list-text">
      <div>1. 带单开启：需抵押{{godFee}}枚平台币TT作为带单保证金，请预存资产；</div>
      <div>2. 带单期间：跟随者的跟单费将被冻结；</div>
      <div>3. 带单结束：请联系客服，释放保证金，解冻跟单费。</div>
    </div>
    </div>
    <!--带单收益-->
    <div class="mobile-tape-list-income">
      <div class="mobile-tape-list-income-describe">
        <span class="text_blue">{{countFollower }} 人</span>
        <span>跟单中</span>
<!--        <span class="text_blue">0 笔</span>-->
<!--        <span>跟随订单</span>-->
      </div>
      <div class="mobile-income-describe-display flex">
        <div class="mobile-income-describe-today">
          <div class="mobile-income-describe-text">今日收益（USDT）</div>
          <div class="mobile-income-describe-amount">{{toFixed(todayFee,2)}}</div>
        </div>
        <div class="mobile-income-describe-total">
          <div class="mobile-income-describe-text">累计收益（USDT）</div>
          <div class="mobile-income-describe-amount">{{toFixed(sumFee,2)}}</div>
        </div>
      </div>
    </div>
    <!--带单收益明细-->
    <div class="mobile-tape-list-income-details">
      <div class="mobile-tape-list-income-details-title">收益明细</div>

        <div class="mobile-trade-center-follower flex" v-for="(item,index) in userFollowFees" :key="index" v-if="userFollowFees.length != 0">
          <div class="mobile-tape-list-income-img">
            <img src="../assets/big-brother.png" alt="">
          </div>
          <div class="mobile-tape-list-income-content flex">
            <div class="mobile-tape-list-income-left">
              <div class="mobile-tape-list-income-uid">{{item.userId}}</div>
              <div class="mobile-tape-list-income-time">{{$globalFunc.formatDateUitl(item.createdAt,'MM-DD hh:mm:ss')}}</div>
            </div>
            <div class="mobile-tape-list-income-right">{{item.fee}} USDT
              <div class="mobile-open-tape-list-text">跟单费用</div></div>

          </div>
        </div>
        <div class="mobile-trade-center-not-data" v-if="userFollowFees.length == 0">
          <div class="mobile-trade-center-not-data-img">
            <img src="../assets/no_list.png" alt="">
          </div>
          <div class="mobile-trade-center-not-data-text">暂无记录</div>
      </div>
      </div>
    </div>

  <!--遮罩层-->
  <div class="mobile-tape-mask" v-if="openMaskWindow">
    <div class="mobile-open-tape-pop-window" :class="(isApp) ? 'mobile-open-tape-pop-window-app' : 'mobile-open-tape-pop-window' ">
      <div class="mobile-open-tape-pop-window-title flex">
        <div class="mobile-open-tape-pop-list-window-title" v-if="!isHasItem && isSwitchOrder == 'SPOT'">开启现货带单</div>
        <div class="mobile-open-tape-pop-list-window-title" v-if="!isHasItem && isSwitchOrder == 'CONTRACT'">开启合约带单</div>
        <div class="mobile-open-tape-pop-list-window-title" v-if="isHasItem && isSwitchOrder == 'SPOT'">修改现货带单</div>
        <div class="mobile-open-tape-pop-list-window-title" v-if="isHasItem && isSwitchOrder == 'CONTRACT'">修改合约带单</div>
        <div class="mobile-window-title-btn flex">
          <div class="confirm" @click="postCommitFee" v-if="!isHasItem">确认</div>
          <div class="confirm" @click="postRevisionFee" v-if="isHasItem">确认</div>
          <div class="cancel" @click="closeMaskWindow">取消</div>
        </div>
      </div>
      <!--保证金 begin-->
      <div class="security-deposit flex" v-if="!isHasItem">
        <div>所需保证金</div>
        <div class="text-blue-documentary">{{godFee}} TT</div>
      </div>
      <!--保证金 end-->

      <div class="mobile-open-tape-pop-window-content">
        <div class="flex choose">
          <div class="fixed-amount" :class="fixedAmPr == 1 ? 'fixed-proportion' : ''" @click="fixedAmountPr(1)">固定费用</div>
          <div class="fixed-amount fixed-am" :class="fixedAmPr == 2 ? 'fixed-proportion' : ''" @click="fixedAmountPr(2)">收益提成</div>
        </div>
        <div class="mobile-open-tape-pop-window-content-item flex">
          <div class="mobile-open-tape-pop-window-content-currency-pair">带单币对</div>
          <div class="mobile-open-tape-pop-window-content-currency" v-if="this.$store.state.isSwitchOrder == 'SPOT'">BTC ETH LTC BCH</div>
          <div class="mobile-open-tape-pop-window-content-currency" v-if="this.$store.state.isSwitchOrder == 'CONTRACT'">BTC</div>
        </div>
        <div v-if="fixedAmPr == 1">
          <div class="mobile-open-tape-pop-window-content-item flex">
            <div class="mobile-open-tape-pop-window-content-currency-pair">跟单费用 (USDT/{{followDay}}天)</div>
            <div class="mobile-open-tape-pop-window-content-currency">
              <input v-model="currencyPair" v-if="!isHasItem" class="currency-account" onkeyup="value = value.match(/\d+(\.\d{0,2})?/) ? value.match(/\d+(\.\d{0,2})?/)[0] : ''">
              <input v-model="currencyPairFee" v-if="isHasItem" class="currency-account" onkeyup="value = value.match(/\d+(\.\d{0,2})?/) ? value.match(/\d+(\.\d{0,2})?/)[0] : ''">
            </div>
          </div>

          <div class="mobile-open-tape-pop-window-content-item flex">
            <div class="mobile-open-tape-pop-window-content-currency-pair">跟单费用 (USDT/{{followDay}}天)</div>
            <div class="mobile-open-tape-pop-window-content-currency" v-if="!isHasItem">{{fixedAmountPr2}}</div>
            <div class="mobile-open-tape-pop-window-content-currency" v-if="isHasItem">{{fixedCurrencyPairFee2}}</div>
          </div>
        </div>
        <div v-if="fixedAmPr == 2">
          <div class="mobile-open-tape-pop-window-content-item flex">
            <div class="mobile-open-tape-pop-window-content-currency-pair">带单提成(收益/笔)</div>
            <div class="mobile-open-tape-pop-window-content-currency">
              <input v-model="currencyPair" v-if="!isHasItem" class="currency-account" onkeyup="value = value.match(/\d+(\.\d{0,2})?/) ? value.match(/\d+(\.\d{0,2})?/)[0] : ''">
              <input v-model="currencyPairFee" v-if="isHasItem" class="currency-account" onkeyup="value = value.match(/\d+(\.\d{0,2})?/) ? value.match(/\d+(\.\d{0,2})?/)[0] : ''">
             %
            </div>
          </div>

          <div class="mobile-open-tape-pop-window-content-item flex">
            <div class="mobile-open-tape-pop-window-content-currency-pair">跟单利润(收益/笔)</div>
            <div class="mobile-open-tape-pop-window-content-currency" v-if="!isHasItem">{{fixedAmountPr3}} %</div>
            <div class="mobile-open-tape-pop-window-content-currency" v-if="isHasItem">{{fixedCurrencyPairFee3}} %</div>
          </div>
        </div>
        <div class="mobile-open-tape-pop-window-content-text">
          <div>1. 带单开启：需抵押{{godFee}}枚平台币TT作为带单保证金，请预存资产；</div>
          <div v-if="fixedAmPr == 1">2. 带单期间：跟随者的跟单费将被冻结；</div>
          <div v-if="fixedAmPr == 1">3. 带单结束：请联系客服，释放保证金，解冻跟单费。</div>
          <div v-if="fixedAmPr == 2">2. 带单结束：请联系客服，释放保证金。</div>
        </div>
      </div>
    </div>
  </div>

  <PopupPrompt :popOpen="popOpen" :popClose="closePop" :popType="popType" :popText="popText" :waitTime="waitTime" />

</div>
