<div class="mobile-trade-strategy">
  <!--ios status栏-->
  <div v-if="(isApp)" class="mobile-status-bar-ios"/>
  <div v-if="(isApp)" class="mobile-status-bar-bg-ios"/>

  <!--顶部标题-->
  <div :class="(isApp) ? 'mobile-header-ios' : 'mobile-trade-header-title' ">
    <!--返回按钮-->
    <div class="mobile-trade-header-title-back-icon" @click="jumpToFollowTrade()">
      <img class="mobile-trade-header-title-back-icon-img" src="../../LuckyDraw/assets/mobileForecastHomePage/back_icon.png" alt="">
    </div>
    <!--UID标题-->
    <div class="fund-buy-header-title-text">{{this.userId}}</div>
    <!--设置按钮-->
    <div class="mobile-trade-header-title-setting-icon" v-if="isSwitchOrder=='SPOT'  && !isTapeList" @click="personalSetting(isSwitchOrder)">
      <img class="mobile-trade-header-title-back-icon-img" src="../assets/setting_icon.png" alt="">
    </div>
    <div class="mobile-trade-header-title-setting-icon" v-if="isSwitchOrder=='SPOT'  && isTapeList" @click="personalSettingBi(isSwitchOrder)">
      <img class="mobile-trade-header-title-back-icon-img" src="../assets/setting_icon.png" alt="">
    </div>
    <div class="mobile-trade-header-title-setting-icon" v-if="isSwitchOrder=='CONTRACT'  && !isTapeList" @click="openMaskDisable(isSwitchOrder)">
      <img class="mobile-trade-header-title-back-icon-img" src="../assets/setting_icon.png" alt="">
    </div>
    <div class="mobile-trade-header-title-setting-icon" v-if="isSwitchOrder=='CONTRACT'  && isTapeList" @click="personalSettingBi(isSwitchOrder)">
      <img class="mobile-trade-header-title-back-icon-img" src="../assets/setting_icon.png" alt="">
    </div>
  </div>

  <div class="mobile-trade-header-null"></div>
      <div class="mobile-trade-top-banner flex" v-if="!isTapeList">
        <div class="mobile-trade-top-banner-img">
  <!--        <img src="../assets/big-brother2.png" alt="" class="mobile-trade-img">-->
          <img class="mobile-trade-img" src="../assets/big-brother2.png" alt="">
        </div>
        <div class="mobile-tradetext">{{this.userId}}</div>
        <!--  <div class="mobile-trade-top-banner-text">{{this.userId}}</div>-->
      </div>
  <!--现货内容上部-->
  <div class="mobile-trade-top"  v-if="isSwitchOrder=='SPOT'">
<!--    <div class="mobile-trade-top-banner flex">-->
<!--      <div class="mobile-trade-top-banner-img">-->
<!--&lt;!&ndash;        <img src="../assets/big-brother2.png" alt="" class="mobile-trade-img">&ndash;&gt;-->
<!--        <img class="mobile-trade-img" src="../assets/big-brother2.png" alt="" v-if="godInfo.headImage==''">-->
<!--        <img class="mobile-trade-img" :src="godInfo.headImage" alt="" v-else>-->
<!--      </div>-->
<!--      <div class="with-img">-->
<!--        <div class="mobile-trade-top-banner-text">{{godInfo.nickName=='' ? '大神' : godInfo.nickName}}</div>-->
<!--        <div class="big-brother-uid-name">{{godInfo.label=='' ? '大神正在看盘中~' : godInfo.label}}</div>-->
<!--      </div>-->
<!--      &lt;!&ndash;  <div class="mobile-trade-top-banner-text">{{this.userId}}</div>&ndash;&gt;-->
<!--    </div>-->
    <div class="mobile-trade-top-background" v-if="isTapeList">
      <div class="mobile-trade-top-banner flex">
        <div class="mobile-trade-top-banner-img">
          <!--        <img src="../assets/big-brother2.png" alt="" class="mobile-trade-img">-->
          <img class="mobile-trade-img" :src="godInfo.headImage"  alt="" v-if="godInfo.headImage!=''">
          <img class="mobile-trade-img" src="../assets/big-brother2.png" alt="" v-else>
        </div>
        <div class="with-img">
          <div class="mobile-trade-top-banner-text">{{godInfo.nickName ? godInfo.nickName :'大神' }}</div>
          <div class="big-brother-uid-name">UID：{{godInfo.userId}}</div>
        </div>
      </div>

      <div class="big-brother-qian">
        {{godInfo.label ? godInfo.label : '大神正在看盘中~'}}
      </div>

    </div>
    <div class=" flex" :class="isTapeList?'mobile-trade-top-data':'mobile-trade-top-data-E'">

<!--      <div class="mobile-trade-data-item">-->
<!--        <div class="mobile-trade-data">{{ godInfo.sum ? toFixed(godInfo.sum,2):'0'}}</div>-->
<!--        <div>累计交易量 (₮)</div>-->
<!--      </div>-->

<!--      <div class="mobile-trade-data-item">-->
<!--        <div class="mobile-trade-data">{{godInfo.count || '0'}}</div>-->
<!--        <div>交易笔数</div>-->
<!--      </div>-->
      <div class="mobile-trade-data-item">
        <div class="mobile-trade-data" :class="godInfo.rate >= 0 || !isHasGodInfo ? 'text-green' : 'text-red'">{{godInfo.rate ? toFixed(godInfo.rate*10*10,2) : '0'}}%</div>
        <div>总收益率%</div>
      </div>
      <div class="mobile-trade-data-item">
        <div class="mobile-trade-data">{{godInfo.followCount || '0'}}</div>
        <div>跟单人数</div>
      </div>


    </div>
  </div>
  <!--内容上部-->

  <!--合约内容上部-->
  <div class="mobile-trade-top" v-if="isSwitchOrder=='CONTRACT'">
<!--    <div class="mobile-trade-top-banner flex">-->
<!--      <div class="mobile-trade-top-banner-img">-->
<!--        <img src="../assets/big-brother2.png" alt="" class="mobile-trade-img">-->
<!--      </div>-->
<!--      <div class="mobile-trade-top-banner-text">{{this.userId}}</div>-->
<!--    </div>-->

    <div class="mobile-trade-top-background" v-if="isTapeList">
      <div class="mobile-trade-top-banner flex">
        <div class="mobile-trade-top-banner-img">
          <!--        <img src="../assets/big-brother2.png" alt="" class="mobile-trade-img">-->
          <img class="mobile-trade-img" :src="godInfo.headImage" alt="" v-if="godInfo.headImage!=''">
          <img class="mobile-trade-img" src="../assets/big-brother2.png" alt="" v-else>
        </div>
        <div class="with-img">
          <div class="mobile-trade-top-banner-text">{{godInfo.nickName? godInfo.nickName : '大神'}}</div>
          <div class="big-brother-uid-name">UID：{{godInfo.userId}}</div>
        </div>
      </div>

      <div class="big-brother-qian">
        {{godInfo.label ? godInfo.label : '大神正在看盘中~'}}
      </div>

    </div>

    <div class=" flex" :class="isTapeList?'mobile-trade-top-data':'mobile-trade-top-data-E'">

      <!--本周收益率-->
      <div class="mobile-trade-data-item">
        <div class="mobile-trade-data" :class="godInfo.weekRate >= 0 || !isHasGodInfo ? 'text-green' : 'text-red'">{{godInfo.weekRate ? toFixed(godInfo.weekRate, 2) : '0'}}%</div>
        <div class="">{{$t('本周收益率')}}%</div>
      </div>
      <!--本周收益-->
      <div class="mobile-trade-data-item ">
        <div class="mobile-trade-data" :class="godInfo.weekProfit >= 0 || !isHasGodInfo ? 'text-green' : 'text-red'">{{godInfo.weekProfit ? toFixed(godInfo.weekProfit, 2) : '0'}}</div>
        <div class="">{{$t('本周收益')}}₮</div>
      </div>
      <!--总收益率-->
      <div class="mobile-trade-data-item ">
        <div class="mobile-trade-data" :class="godInfo.rate >= 0 || !isHasGodInfo ? 'text-green' : 'text-red'">{{godInfo.rate ? toFixed(godInfo.rate, 2) : '0'}}%</div>
        <div class="">总收益率%</div>
      </div>
      <!--总收益-->
      <div class="mobile-trade-data-item ">
        <div class="mobile-trade-data" :class="godInfo.profit >= 0 || !isHasGodInfo ? 'text-green' : 'text-red'">{{godInfo.profit ? toFixed(godInfo.profit, 2) : '0'}}</div>
        <div class="">{{$t('总收益')}}₮</div>
      </div>

    </div>
  </div>
  <!--内容上部-->

  <!--内容中部-->
  <div class="mobile-trade-center" v-if="isTapeList">
    <div class="mobile-trade-center-title  flex">
      <div class="mobile-trade-center-title-only mobile-trade-center-title-history" :class="followType == 1 ? 'mobile-trade-center-title-selected':''" @click="toggleType(1)">
        跟单者
      </div>
      <div class="mobile-trade-center-title-only mobile-trade-center-title-follower" :class="followType == 2 ? 'mobile-trade-center-title-selected':''" @click="toggleType(2)">
        操作记录
      </div>
    </div>
    <div class="mobile-trade-center-content" v-if="followType == 2">
      <div class="mobile-trade-center-content-item" v-for="(item,index) in godHistorList" :key="index">
        <div class="mobile-trade-item-top flex">
          <div class="mobile-trade-item-top-left">
            <span>{{item.symbol.replace('_','/')}}</span>
<!--            <span class="mobile-trade-buy"-->
<!--                  v-if="isSwitchOrder == 'SPOT'"-->
<!--                  :class="item.direction==='BUY'?'text-green':'text-red'">-->
<!--              {{contractType[item.orderType]}}-->
<!--            </span>-->
<!--            <span class="mobile-trade-buy"-->
<!--                  v-if="isSwitchOrder == 'CONTRACT'">-->
<!--              {{contractType[item.orderType]}}-->
<!--            </span>-->
            <span class="text-color"
                  :class="item.direction==='BUY'?'text-green':'text-red'"
                  v-if="isSwitchOrder == 'CONTRACT'">
              {{$globalFunc.getOrderSide(item.positionSide,item.direction)}}
            </span>
          </div>
          <div class="mobile-trade-item-top-right">{{$globalFunc.formatDateUitl(Number(item.orderUpdatedAt),'MM/DD hh:mm:ss')}}</div>
        </div>
        <div class="mobile-trade-item-content">
          <div class="mobile-trade-item-content-title flex">
            <div class="mobile-trade-price">价格 (₮)</div>
<!--            <div class="mobile-trade-amount">数量</div>-->
<!--            <div class="mobile-trade-money">交易量 (₮)</div>-->
            <div class="mobile-trade-money">数量</div>
          </div>
          <div class="mobile-trade-item-content-container flex">
            <div class="mobile-trade-price">{{toFixed(item.price,4)}}</div>
<!--            <div class="mobile-trade-amount">{{toFixed(item.amount,4)}}</div>-->
<!--            <div class="mobile-trade-money">{{toFixed(item.price * item.amount,4)}}</div>-->
            <div class="mobile-trade-money">{{toFixed(item.amount,4)}}</div>
          </div>
        </div>
      </div>
<!--      <div class="history-no-data" v-if="godHistorList.length==0 && !loading">暂无数据</div>-->
      <div class="mobile-trade-center-not-data" v-if="godHistorList.length == 0">
        <div class="mobile-trade-center-not-data-img">
          <img src="../assets/no_list.png" alt="">
        </div>
        <div class="mobile-trade-center-not-data-text">暂无记录</div>
      </div>
    </div>

    <div class="mobile-trade-center-content" v-if="followType == 1">
      <div class="mobile-trade-center-follower1 flex" v-if="isSwitchOrder == 'SPOT'" v-for="(item,index) in followUserList">
        <div class="mobile-trader-follower-img1">
          <img src="../assets/big-brother.png" alt="">
        </div>
        <div class="mobile-trader-follower-content">
          <div class="mobile-trader-follower-content-top flex">
            <div class="mobile-trader-follower-UID">{{item.userId}}</div>
            <div class="mobile-trader-follower-income">{{item.profit}}</div>
          </div>
          <div class="mobile-trader-follower-content-top flex">
            <div class="mobile-trader-follower-text">跟单总成交额 {{item.amount ? toFixed(item.amount, 2) : '0'}} ₮</div>
            <div class="mobile-trader-follower-text s-right">跟单收益(₮)</div>
          </div>
        </div>
      </div>
      <div class="mobile-trade-center-follower" v-if="isSwitchOrder == 'CONTRACT'" v-for="(item,index) in followUserList">
        <div class="">
          <img class="mobile-trader-follower-img" src="../assets/big-brother2.png" alt="">
          <span class="mobile-trader-follower-UID">{{item.userId}}</span>
        </div>

        <div class="flex">
          <div class="mobile-trader-follower-income flex1">{{toFixed(item.userProfit,2) || '0'}}</div>
          <div class="mobile-trader-follower-income flex1">{{toFixed(item.profit,2) || '0'}}</div>

        </div>
        <div class="flex mtop">
          <div class="mobile-trader-follower-text flex1">总跟单利润（₮)</div>
          <div class="mobile-trader-follower-text flex1">总跟单收益（₮)</div>

        </div>
        <div class="flex">
          <div class="mobile-trader-follower-income flex1">{{toFixed(item.weekUserProfit,2) || '0'}}</div>
          <div class="mobile-trader-follower-income flex1">{{toFixed(item.weekProfit,2) || '0'}}</div>

        </div>
        <div class="flex mtop">
          <div class="mobile-trader-follower-text flex1">本周跟单利润（₮)</div>
          <div class="mobile-trader-follower-text flex1">本周跟单收益（₮)</div>

        </div>

        <!--        <div class="mobile-trader-follower-content">-->
        <!--          <div class="mobile-trader-follower-content-top flex">-->
        <!--            <div class="mobile-trader-follower-UID">{{item.userId}}</div>-->
        <!--&lt;!&ndash;            <div class="mobile-trader-follower-income">{{toFixed(item.profit,2) || '0'}}</div>&ndash;&gt;-->
        <!--          </div>-->
        <!--&lt;!&ndash;          <div class="mobile-trader-follower-content-top flex">&ndash;&gt;-->
        <!--&lt;!&ndash;            <div class="mobile-trader-follower-text">总跟单收益 {{toFixed(item.amount,2) || '0'}} ₮</div>&ndash;&gt;-->
        <!--&lt;!&ndash;            <div class="mobile-trader-follower-text">总跟单收益(₮)</div>&ndash;&gt;-->
        <!--&lt;!&ndash;         </div>&ndash;&gt;-->
        <!--        </div>-->
      </div>
      <div class="mobile-trade-center-not-data" v-if="followUserList.length==0 && isSwitchOrder == 'SPOT'">
        <div class="mobile-trade-center-not-data-img">
          <img src="../assets/no_list.png" alt="">
        </div>
        <div class="mobile-trade-center-not-data-text">暂无记录</div>
      </div>
      <div class="mobile-trade-center-not-data" v-if="followUserList.length==0 && isSwitchOrder == 'CONTRACT'">
        <div class="mobile-trade-center-not-data-img">
          <img src="../assets/no_list.png" alt="">
        </div>
        <div class="mobile-trade-center-not-data-text">暂无记录</div>
      </div>
    </div>
  </div>

  <!--内容底部-->
  <div class="mobile-trade-no-data" v-if="!isTapeList">
    <div class="mobile-trade-no-data-text"></div>
    <div class="mobile-trade-open-exchange flex">
      <div class="mobile-trade-open-exchange-button" v-if="isSwitchOrder == 'SPOT'" @click="personalSetting()">开启带单</div>
      <div class="mobile-trade-open-exchange-button" v-if="isSwitchOrder == 'CONTRACT'" @click="openMaskDisable()">开启带单</div>
    </div>
  </div>


  <!--弹窗-->
  <div v-if="delFollowOpenDisable" class="forecast-activity-toast">
    <div class="forecast-activity-toast-box-D">
      <div class="forecast-activity-toast-title">
        <img src="../../../assets/pinchakan.png" alt="" class="fenxian-img">
        带单提示
      </div>
      <div class="del-follow-text-D">
        <div class="fenxian">
          <!--              关闭按钮 -->
          <img src="../../../assets/noselect.png" alt="" class="geng-img" @click="clickToggleTrue" v-if="!BDBInfo">
          <!--              打开按钮-->
          <img src="../../../assets/select.png" alt="" class="geng-img" @click="clickToggle" v-if="BDBInfo">
          我已认真阅读并知晓了镜像交易的规则及相关风险，愿意承担风险并同意开通镜像交易。
        </div>
        <div class="m-bottom" style="margin-bottom: 0">· 用户跟单后，将在带单者无仓位和委托后开启交易。</div>
        <div class="m-bottom">· 带单开启后，有仓位或委托时，以下功能将被禁用：</div>
        <div class="div-two">
          <div class="m-bottom-1"><span class="yuan-span m-f"></span> 仓位模式修改 <span class="yuan-span"></span> 保证金模式修改</div>
          <div class="m-bottom-1"><span class="yuan-span m-f"></span> 杠杆倍数修改 <span class="yuan-span"></span> 资金划转 </div>
        </div>
      </div>

      <div slot="footer" class="flex footer-btn">
        <div class="popWindow-article2" @click="popCloseTemporarilyClosed">取消</div>
        <div class="popWindow-btn" @click="personalSettingBi" v-if="BDBInfo">同意</div>
        <div class="popWindow-btn-hui" v-else>同意</div>
        <!--      <div class="popWindow-btn" @click="openAContract">开通</div>-->
      </div>
    </div>
  </div><!--弹窗-->
  <div v-if="delFollowOpenDisableBi" class="forecast-activity-toast">
    <div class="forecast-activity-toast-box-Bi">
      <div class="forecast-activity-toast-title">
        <img src="../../../assets/pinchakan.png" alt="" class="fenxian-img">
        带单提示
      </div>
      <div class="del-follow-text-D">
        <div class="fenxianBi">
          <!--              关闭按钮 -->
          <img src="../../../assets/noselect.png" alt="" class="geng-img" @click="clickToggleTrue" v-if="!BDBInfo">
          <!--              打开按钮-->
          <img src="../../../assets/select.png" alt="" class="geng-img" @click="clickToggle" v-if="BDBInfo">
          我已认真阅读并知晓了镜像交易的规则及相关风险，愿意承担风险并同意开通镜像交易。
        </div>
      </div>
      <div slot="footer" class="flex footer-btn">
        <div class="popWindow-article2" @click="popCloseTemporarilyClosedBi">取消</div>
        <div class="popWindow-btn" @click="personalSettingBi" v-if="BDBInfo">同意</div>
        <div class="popWindow-btn-hui" v-else>同意</div>
        <!--      <div class="popWindow-btn" @click="openAContract">开通</div>-->
      </div>
    </div>
  </div>

</div>
