<div class="lock-house-record-container">
  <div class="border_box border_radius" >

    <div class="lock-house">
      <div class="margin-balance">保证金余额</div>
      <div class="flex">
        <div class="margin-balance-usdt">{{totalMarginBalance > 0 ? totalMarginBalance : '----'}} <span class="margin-balance-usdt-span">USDT</span></div>
        <div class="margin-balance-is-about"> ≈ {{( valuation >0)? $globalFunc.accFixedCny(valuation,2) : '----'}} {{lang ==='CH'?'CNY':'USDT'}}</div>
      </div>

      <div class="flex">
        <div>
          <div class="account-balance">账户余额</div>
          <div class="flex">
            <div class="margin-balance-usdt-balance">{{totalWalletBalance > 0 ? totalMarginBalance : '----'}}  <span class="margin-balance-usdt-span-balance">USDT</span></div>
            <div class="margin-balance-is-about-balance"> ≈ {{( valuationWall >0)? $globalFunc.accFixedCny(valuationWall,2) : '----'}} {{lang ==='CH'?'CNY':'USDT'}}</div>
          </div>
        </div>
        <div class="account-balance2">
          <div class="account-balance">未实现盈亏</div>
          <div class="flex">
            <div class="margin-balance-usdt-balance" :class="totalUnrealizedProfit >= 0 ? 'color-gre' : 'color-red'">{{totalUnrealizedProfit || '----'}} <span class="margin-balance-usdt-span-balance" :class="totalUnrealizedProfit >= 0 ? 'color-gre' : 'color-red'">USDT</span></div>
            <div class="margin-balance-is-about-balance" :class="valuationFit >= 0 ? 'color-gre' : 'color-red'"> ≈ {{ $globalFunc.accFixedCny(valuationFit,2) || '----'}} {{lang ==='CH'?'CNY':'USDT'}}</div>
          </div>
        </div>
      </div>
    </div>

    <div class="lock-house-sel flex">
      <router-link to="/index/asset/contractRecord/warehousePosition" class="title-tab flex-center tab-item-first" active-class="selected text_blue-7">
        {{$t('仓位')}}
      </router-link>

      <router-link to="/index/asset/contractRecord/propertyAssets" class="title-tab flex-center margin-a-little tab-item-last"
                   active-class="selected text_blue-7">
        {{$t('资产')}}
      </router-link>
    </div>

    <div class="detail-container">
      <router-view></router-view>
    </div>

  </div>

  <!--   提示 弹窗-->
<!--  <PopupWindow :switch="popWindowOpen" @close="popWindowClose">-->
<!--    <div slot="header">-->
<!--      <span class="header_xuzhi">合约账户</span>-->
<!--    </div>-->
<!--    <div slot="article" class="pop-recharge">您暂未开通合约账户-->
<!--      &lt;!&ndash;      <p class="consequences">{{popWindowPrompt1}}</p>&ndash;&gt;-->
<!--    </div>-->
<!--    <div slot="footer" class="pop-recharge-bottom flex-center">-->
<!--      <template>-->
<!--        <button @click="popWindowClose" class="popWindow-article2 pointer">-->
<!--          {{$t('暂不开通')}}-->
<!--        </button>-->
<!--        <button @click="goToBindIdentity" class="popWindow-btn pointer m-r">-->
<!--          {{$t('开通')}}-->
<!--        </button>-->
<!--      </template>-->
<!--    </div>-->

<!--  </PopupWindow>-->
  <!--  合约风险提示-->
  <ContractRiskWarning :switch="popWindowOpen">
    <div slot="footer" class="flex footer-btn">
      <div class="popWindow-article2" @click="popCloseTemporarilyClosed">暂不开通</div>
      <div class="popWindow-btn" @click="openAContract">开通</div>
      <!--      <div class="popWindow-btn" @click="openAContract">开通</div>-->
    </div>
  </ContractRiskWarning>
</div>


