<div class="lock-house-record-container">
  <div class=" border_radius" >

    <div class="lock-house">
      <div class="margin-balance">保证金余额</div>
      <div class="flex">
        <div class="margin-balance-usdt">{{totalMarginBalance > 0 ? totalMarginBalance : '----'}} <span class="margin-balance-usdt-span">USDT</span></div>
        <div class="margin-balance-is-about"> ≈ {{( valuation >0)? $globalFunc.accFixedCny(valuation,2) : '----'}} {{lang ==='CH'?'CNY':'USDT'}}</div>
      </div>

      <div class="flex">
        <div>
          <div class="account-balance">账户余额</div>
          <div class="flex">
            <div class="margin-balance-usdt-balance">{{totalWalletBalance > 0 ? totalWalletBalance : '----'}}  <span class="margin-balance-usdt-span-balance">USDT</span></div>
            <div class="margin-balance-is-about-balance"> ≈ {{( valuationWall >0)? $globalFunc.accFixedCny(valuationWall,2) : '----'}} {{lang ==='CH'?'CNY':'USDT'}}</div>
          </div>
        </div>
        <div class="account-balance2">
          <div class="account-balance">未实现盈亏</div>
          <div class="flex">
            <div class="margin-balance-usdt-balance" :class="totalUnrealizedProfit >= 0 ? 'color-gre' : 'color-red'">{{totalUnrealizedProfit || '----'}} <span class="margin-balance-usdt-span-balance" :class="totalUnrealizedProfit >= 0 ? 'color-gre' : 'color-red'">USDT</span></div>
            <div class="margin-balance-is-about-balance" :class="valuationFit >= 0 ? 'color-gre' : 'color-red'"> ≈ {{ $globalFunc.accFixedCny(valuationFit,2) || '----'}} {{lang ==='CH'?'CNY':'USDT'}}</div>
          </div>
        </div>
      </div>
    </div>


    <div class="cangwei-zichan">
      <div class="lock-house-sel flex">
        <div class="title-tab flex-center tab-item-first" :class="propertyType == 'position'?'selected1 text_blue-7':''" @click="clickProperty('position')">仓位</div>
        <div class="title-tab margin-a-little flex-center tab-item-first" :class="propertyType =='propertyAssets'?'selected1 text_blue-7':''" @click="clickProperty('propertyAssets')">资产</div>
      </div>

      <div v-if="propertyType == 'position'">
        <div class="border_box border_radius">

          <!--充值记录title begin-->
          <div class="detail-header flex">
            <!-- 合约-->
            <div class="order-number">{{$t('合约')}}</div>
            <!--数量-->
            <div class="currencyC">{{$t('数量')}}</div>
            <!--开仓价格-->
            <div class="total">
              <div class="total-span" @mouseenter="openOpeningPrice()" @mouseleave="closeOpeningPrice()">{{$t('开仓价格')}}</div>
              <div class="detail-header-box">你的持仓的平均买入/卖出成交价格。</div>
            </div>
            <!--标记价格-->
            <div class="lock-house-time">
              <div class="lock-house-time-span" @mouseenter="openMarkedPrice()" @mouseleave="closeMarkedPrice()">{{$t('标记价格')}}</div>
              <div class="lock-house-time-box">
                该合约的实时标记价格。此标记价格将用于计算盈亏及保证金，可能与合约最新成交价格有所偏差，以避免价格操纵。
              </div>
            </div>
            <!--未实现盈亏(回报率)-->
            <div class="income-yesterday">
              <div class="income-yesterday-span" @mouseenter="openRateOfReturn()" @mouseleave="closeRateOfReturn()">{{$t('未实现盈亏')}}</div>
              <div class="income-yesterday-box">
                "采用标记价格计算得出的未实现盈亏，以及回报率。
              </div>
            </div>
            <!-- 操作-->
            <div class="operation">{{$t('操作')}}</div>

          </div>
          <!--充值记录title end-->

          <template v-if="!loading">

            <!--充值记录具体 begin-->
            <ul class="detail-container" >
              <!--各条记录 begin-->
              <li class="detail-li" v-for="(item,index) in computedRecord" :key="item.id">
                <div class="li-container flex">
                  <!--合约-->
                  <div class="order-number">
                    <div class="order-number-box" :class="item.positionAmt > 0 ? 'order-number-box' : 'order-number-box-fu'">{{item.symbol}}</div>
                  </div>
                  <!--数量-->
                  <div class="currencyC">
                    <div class="" :class="item.positionAmt > 0 ? 'currency-box' : 'currency-box-fu'">{{item.positionAmt}}</div>
                  </div>
                  <!--开仓价格-->
                  <div class="total">{{toFixed(item.entryPrice,2)}}</div>
                  <!--标记价格 -->
                  <div class="lock-house-time">{{item.markPrice}}</div>
                  <!--未实现盈亏(回报率)-->
                  <div class="lock-house-time">
                    <div class="" :class="item.unrealizedProfit > 0 ? 'currency-box' : 'currency-box-fu'">{{item.unrealizedProfit}}</div>
                  </div>
                  <!-- 操作-->
                  <div class="operation">
                    <button class="pointer" @click="goToContractTransaction()">{{$t('去交易')}}</button>
                  </div>
                </div>
              </li>
              <!--各条记录 begin-->

              <!--如果没有记录 begin-->
              <li class="detail-li-no-data" v-if="computedRecord.length===0">
                <div class="no-data-content">
                  <img src="../../../assets/assetPageRecord/no-order-light.png" alt="">
                  <div class="no-record">{{$t('暂无记录')}}</div>
                </div>

              </li>
              <!--如果没有记录 end-->
            </ul>
            <!--充值记录具体 end-->

            <!--加载更多 begin-->
            <!--      <div class="loading-more" v-if="loadingMoreShow">-->
            <!--        <span v-if="!loadingMoreShowing" @click="loadingMore">{{$t('loadingMore')}}</span>-->
            <!--        <span v-if="loadingMoreShowing">-->
            <!--          <Loading/>-->
            <!--        </span>-->
            <!--      </div>-->
            <!--加载更多 end-->

          </template>
        </div>
      </div>
      <div v-if="propertyType == 'propertyAssets'">
        <div class="border_box border_radius">

          <!--充值记录title begin-->
          <div class="detail-header flex">
            <!-- 资产-->
            <div class="order-number">{{$t('资产')}}</div>
            <!--账户余额-->
            <div class="currency1">
              <div class="currency-span" @mouseenter="openAccountBalance1()" @mouseleave="closeAccountBalance1()">{{$t('账户余额')}}</div>
              <div class="currencyer-header-box1">
                账户余额 ＝ 总共净划入+ 总共已实现盈亏 + 总共净资金费用 - 总共手续费
              </div>
            </div>
            <!--未实现盈亏-->
            <div class="total">
              <div class="total-span" @mouseenter="openUnrealizedLooses1()" @mouseleave="closeUnrealizedLooses1()">{{$t('未实现盈亏')}}</div>
              <div class="detail-header-box1">
                采用标记价格计算得出的未实现盈亏。
              </div>
            </div>
            <!--可用下单余额-->
            <div class="lock-house-time">
              <div class="lock-house-time-span" @mouseenter="openAvailableOrderBalance1()" @mouseleave="closeAvailableOrderBalance1()">{{$t('可用下单余额')}}</div>
              <div class="lock-house-time-box1">
                可用下单余额 = 保证金余额 - 开仓保证金，代表你可用于开新仓的金额。
              </div>
            </div>
            <!-- 操作-->
            <div class="operation">{{$t('操作')}}</div>

          </div>
          <!--充值记录title end-->



          <template >

            <!--充值记录具体 begin-->
            <ul class="detail-container">
              <!--各条记录 begin-->
              <li class="detail-li">
                <div class="li-container flex"  v-if="!loading">
                  <!--资产-->
                  <div class="order-number">{{balance.asset || '——'}}</div>
                  <!--账户余额-->
                  <div class="currency1">{{balance.walletBalance || 0}}</div>
                  <!--未实现盈亏-->
                  <div class="total">{{toFixed(balance.unrealizedProfit,8) || 0}}</div>
                  <!--可用下单余额-->
                  <div class="lock-house-time">{{balance.availableBalance || 0}}</div>
                  <!-- 操作-->
                  <!--            <div class="operation-text">-->
                  <!--              <button>{{$t('划转')}}</button>-->
                  <!--            </div>-->
                  <div class="operation">
                    <button class="pointer" @click="openTransfer(balance)">{{$t('划转')}}</button>
                  </div>
                </div>
              </li>
              <!--各条记录 begin-->

              <!--如果没有记录 begin-->
              <!--        <li class="detail-li-no-data" v-if="computedRecord.length===0">-->
              <!--          <div class="no-data-content">-->
              <!--            <img src="../../../assets/assetPageRecord/no-order-light.png" alt="">-->
              <!--            <div class="no-record">{{$t('暂无记录')}}</div>-->
              <!--          </div>-->
              <!--        </li>-->
              <!--如果没有记录 end-->
            </ul>
            <!--充值记录具体 end-->

            <!--加载更多 begin-->
            <!--      <div class="loading-more" v-if="loadingMoreShow">-->
            <!--        <span v-if="!loadingMoreShowing" @click="loadingMore">{{$t('loadingMore')}}</span>-->
            <!--        <span v-if="loadingMoreShowing">-->
            <!--          <Loading/>-->
            <!--        </span>-->
            <!--      </div>-->
            <!--加载更多 end-->

          </template>
        </div>
      </div>
    </div>



    <!--    <div class="lock-house-sel flex">-->
    <!--      <router-link to="/index/asset/contractRecord/warehousePosition" class="title-tab flex-center tab-item-first"-->
    <!--                   active-class="selected text_blue-7">-->
    <!--        {{$t('仓位')}}-->
    <!--      </router-link>-->

    <!--      <router-link to="/index/asset/contractRecord/propertyAssets" class="title-tab flex-center margin-a-little tab-item-last"-->
    <!--                   active-class="selected text_blue-7">-->
    <!--        {{$t('资产')}}-->
    <!--      </router-link>-->
    <!--    </div>-->

    <!--    <div class="detail-container">-->
    <!--      <router-view></router-view>-->
    <!--    </div>-->

  </div>

  <!--   提示 弹窗-->
  <!--  <PopupWindow :switch="popWindowOpen" @close="popWindowClose">-->
  <!--    <div slot="header">-->
  <!--      <span class="header_xuzhi">合约账户</span>-->
  <!--    </div>-->
  <!--    <div slot="article" class="pop-recharge">您暂未开通合约账户-->
  <!--      &lt;!&ndash;      <p class="consequences">{{popWindowPrompt1}}</p>&ndash;&gt;-->
  <!--    </div>-->
  <!--    <div slot="footer" class="pop-recharge-bottom flex-center">-->
  <!--      <template>-->
  <!--        <button @click="popWindowClose" class="popWindow-article2 pointer">-->
  <!--          {{$t('暂不开通')}}-->
  <!--        </button>-->
  <!--        <button @click="goToBindIdentity" class="popWindow-btn pointer m-r">-->
  <!--          {{$t('开通')}}-->
  <!--        </button>-->
  <!--      </template>-->
  <!--    </div>-->

  <!--  </PopupWindow>-->
  <!--  合约风险提示-->
  <ContractRiskWarning :switch="popWindowOpenContract">
    <div slot="footer" class="flex footer-btn">
      <div class="popWindow-article2" @click="popCloseTemporarilyClosed">暂不开通</div>
      <div class="popWindow-btn" @click="openAContract">开通</div>
      <!--      <div class="popWindow-btn" @click="openAContract">开通</div>-->
    </div>
  </ContractRiskWarning>


  <!--  内部划转-->
  <PopupT :switch="popWindowOpen1" @close="popWindowClose1">
    <div slot="header">
      <span class="pop-ei-ar">{{$t('资金划转')}}</span>
    </div>
    <div slot="article" class="pop-article">
      <!--      钱包到账户-->
      <div class="wallet-to-account flex">
        <div class="wallet-to-account-left flex">
          <div class="wallet-account-change">
            <div>{{$t('从')}}</div>
            <img src="../../../assets/myWallet/record_change_bottom_icon.png" alt="">
            <div>{{$t('到')}}</div>
          </div>
        </div>
        <div class="wallet-to-account-content" :class="(assetAccountType == 'wallet') ? 'flex-colum':'flex-colum-reverse'">
          <div>{{$t('合约账户')}}</div>
          <div class="wallet-to-account-content-line"/>
          <div>{{$t('我的钱包')}}</div>
        </div>
        <div class="wallet-to-account-right pointer flex" @click="changeAssetAccountType()">
          <img src="../../../assets/myWallet/record_change_icon.png" alt="">
        </div>
      </div>

      <!--      币种-->
      <div class="currency block-input">
        <div class="block-input-title">{{$t('币种')}}</div>
        <el-select class="inputInner" value-key="currencyKey" v-model="currencyValue" filterable placeholder="" @change="changeTransferCurrency">
          <el-option
            v-if="!item.isUSDT2"
            v-for="item in accountsComputed"
            :key="item.currencyKey"
            :label="item.currency"
            :value="item.currency"
          >
          </el-option>
        </el-select>

        <div class="amount-not-empty">
          <span>{{transferCurrencyWA}}</span>
        </div>
      </div>

      <!--      数量-->
      <div class="amount block-input">
        <div class="block-input-title">
          <span>{{$t('数量')}}</span>
          <span class="available-right">{{$t('可用')}}：{{this.assetAccountType == 'wallet'? balance.walletBalance : available }} {{currencyValue}}</span>
        </div>
        <div class="amount-input flex">
          <input type="text" placeholder="" class="amount-input-box" v-model="amountInput">
          <span class="amount-all pointer" @click="allMention()">{{$t('全部')}}</span>
        </div>
        <div class="amount-not-empty">
          <span>{{transferAmountWA}}</span>
        </div>
      </div>
    </div>
    <div slot="footer" class="pop-footer">
      <span class="pop-qu pointer" @click="click_rel_em">{{$t('取消')}}</span>
      <!--      <button class="pop-qu-2 pointer" @click="transferCommit">{{$t('立即划转')}}</button>-->
      <button class="pop-qu-2 pointer" @click="transferCommit">{{$t('立即划转')}}</button>

    </div>
  </PopupT>

  <!-- 提示 start -->
  <PopupPrompt :popType="popupPromptType" :popText="popupPromptText" :popOpen="popupPromptOpen"
               :popClose="closePopupPrompt"></PopupPrompt>

  <!--   提示 弹窗-->
  <PopupWindow :switch="popWindowOpen" @close="popWindowClose">
    <div slot="header">
      <span class="header_xuzhi">{{popWindowTitle}}</span>
    </div>
    <div slot="article" class="pop-recharge">{{popWindowPrompt}}
    </div>
    <div slot="footer" class="pop-recharge-bottom flex-center">
      <template v-if="popWindowStyle==0">
        <button @click="popWindowClose" class="button-base33 btn_simple pointer">
          {{$t('cancel')}}
        </button>
        <button @click="goToBindIdentity" class="button-base33 btn_blue pointer m-r">
          {{$t('verification')}}
        </button>
      </template>
      <template v-if="popWindowStyle==1">
        <button @click="popWindowClose" class="button-base33 btn_simple pointer">
          {{$t('cancel')}}
        </button>
        <button @click="goToSecurityCenter" class="button-base33 btn_blue pointer m-r">
          {{$t('beBinding')}}
        </button>
      </template>

      <template v-if="popWindowStyle==3">
        <button @click="popWindowClose" class="button-base33 btn_simple pointer ">
          {{$t('cancel')}}
          <!--          {{$t('bindGa')}}-->
        </button>
        <button @click="goToSecurityCenter" class="button-base33 btn_blue pointer m-r">
          {{$t('beBinding')}}
        </button>
      </template>
    </div>

  </PopupWindow>

  <!-- 提示 end -->
  <Loading v-if="loading"/>

</div>


