<div>
  <div class="grid-transaction">
    <div class="grid-conter">
      <div class="flex">
        <div class="grid-conter-title">
          <img class="grid-conter-img" src="../assets/GridTransaction.png" alt="">网格交易
          <span class="grid-conter-span">BTC/USDT (BTC震荡, 赚取USDT)</span>
        </div>
        <div class="grid-conter-stop" @click="StopTheRobot">停止机器人</div>
      </div>
      <div class="grid-duration">运行时长 0日19时43分03秒 (2020/08/18 19:39:49 创建)</div>
      <div class="flex grid-margin-top">
        <div class="grid-chang flex">
          <div class="grid-investment-div">
            <div class="grid-investment">投资额 <span class="grid-font-size"> USDT</span></div>
            <div class="grid-investment-number">58</div>
          </div>
          <div class="grid-trapezoid">
            <div class="grid-trapezoid-ding">
              <div class="grid-investment">总利润 <span class="grid-font-size"> USDT</span></div>
              <div class="grid-investment-number">-0.492 (-8.86%)</div>
            </div>
          </div>
        </div>
        <div class="grid-margin-left">
          <div class="grid-profit grid-profit-14">网格利润 <span class="grid-font-size">USDT</span></div>
          <div class="grid-profit" :class="'grid-profit-num'">58</div>
          <div class="grid-profit" :class="'grid-profit-num'">0.86%</div>
        </div>
        <div class="grid-margin-left">
          <div class="grid-profit grid-profit-14">浮动盈亏 <span class="grid-font-size">USDT</span></div>
          <div class="grid-profit" :class="'grid-profit-num'">58</div>
          <div class="grid-profit" :class="'grid-profit-num'">0.86%</div>
        </div>
        <div class="grid-margin-left ">
          <div class="grid-profit grid-profit-14">网格年化/总年化</div>
          <div class="grid-profit" :class="'decline-in-profits-class'">58</div>
          <div class="grid-profit" :class="'decline-in-profits-class'">0.86%</div>
        </div>
        <div class="grid-margin-left ">
          <div class="grid-profit grid-profit-14">当前价</div>
          <div class="grid-profit-num-blick grid-profit">58</div>
        </div>
        <div class="grid-margin-left ">
          <div class="grid-profit grid-profit-14">价格区间</div>
          <div class="grid-profit-num-blick grid-profit">58</div>
        </div>
      </div>
    </div>
    <div class="grid-details flex">
      <div class="grid-pending" :class="detailsType == 1 ? 'grid-pending-class' :''" @click="gridDetails(1)">挂单详情</div>
      <div class="grid-pending" :class="detailsType == 2 ? 'grid-pending-class' :''" @click="gridDetails(2)">订单参数</div>
      <div class="grid-pending" :class="detailsType == 3 ? 'grid-pending-class' :''" @click="gridDetails(3)">订单详情</div>
    </div>
    <div class="grid-pending-del" v-if="detailsType == 1">
      <div class="flex positions-number">
        <div>BTC持仓数量 <span class="positions-color">58</span> <span class="positions-font"> BTC</span></div>
        <div>USDT持仓数量 <span class="positions-color">58</span> <span class="positions-font"> USDT</span></div>
        <div>平均持仓成本 <span class="positions-color">58</span> <span class="positions-font"> USDT</span></div>
      </div>
      <div class="positions-explanation">每格买卖数量: 0.0001 BTC 当前价格: BTC/USDT = 11820.68</div>
      <div class="border-50">+0.31% <span class="border-50-sell">卖一价</span></div>
      <div class="border-49">买一价 <span class="border-50-sell">-0.70%</span></div>
      <div class="positions-height-zong">
        <div class="flex positions-height">
          <div class="flex buy">
            <div class="buy">买1</div>
            <div class="buy text-al">11740</div>
          </div>
          <div class="flex buy margin-left">
            <div class="buy">11750</div>
            <div class="buy text-al margin-right">卖1</div>
          </div>
        </div>
      </div>
    </div>
    <div class="grid-pending-del margin-del" v-if="detailsType == 2">
      <div class="flex margin-top-25">
        <div class="buy">
          <div>走势判断</div>
          <div>BTC震荡后上涨</div>
        </div>
        <div class="buy">
          <div>投什么赚什么</div>
          <div>USDT</div>
        </div>
        <div class="flex-2">
          <div>最高价</div>
          <div>12321</div>
        </div>
      </div>
      <div class="flex margin-top-36">
        <div class="buy">
          <div>最低价</div>
          <div>1233</div>
        </div>
        <div class="buy">
          <div>网格数量</div>
          <div>31</div>
        </div>
        <div class="buy">
          <div>每格买卖数量</div>
          <div>0.00001</div>
        </div>
        <div class="buy">
          <div>开单时价格</div>
          <div>12219.18</div>
        </div>
      </div>
      <div class="flex margin-top-36">
        <div class="buy">
          <div>每格利润</div>
          <div>0.37% - 0.45%</div>
        </div>
        <div class="buy">
          <div>止损价格</div>
          <div>12650</div>
        </div>
        <div class="buy">
          <div>自动止盈</div>
          <div>12650</div>
        </div>
        <div class="buy">
          <div>触发价格</div>
          <div>12219.18</div>
        </div>
      </div>
    </div>
    <div class="grid-pending-del margin-del" v-if="detailsType == 3">
      <div class="flex top-color">
        <div class="buy">套利次数</div>
        <div class="buy">利润</div>
        <div class="buy">下单时间</div>
        <div class="buy">操作 (USDT)</div>
        <div class="flex-15">价格 (USDT)</div>
        <div class="buy">成交额</div>
        <div class="flex-07 text-al">手续费</div>
      </div>

      <div class="flex border-color">
        <div class="buy line-height-48">#24</div>
        <div class="buy line-height-48" :class="'rising-profits'">+ 0.004828 USDT</div>
        <div class="buy">
          <div>08/20 12:03</div>
          <div>08/20 12:03</div>
        </div>
        <div class="buy">
          <div :class="'decline-in-profits'">限价卖出</div>
          <div :class="'rising-profits'">限价买入</div>
        </div>
        <div class="flex-15">
          <div>您买的BTC 将在价格上涨时卖出</div>
          <div>11690</div>
        </div>
        <div class="buy">
          <div>11690</div>
          <div>11690</div>
        </div>
        <div class="flex-07 line-height-48 text-al">0.00000005</div>
      </div>
      <div class="flex border-color">
        <div class="buy line-height-48">--</div>
        <div class="buy line-height-48">等待卖出</div>
        <div class="buy">
          <div>-</div>
          <div>08/20 12:03</div>
        </div>
        <div class="buy">
          <div>待卖出</div>
          <div :class="'rising-profits'">限价买入</div>
        </div>
        <div class="flex-15">
          <div>您买的BTC 将在价格上涨时卖出</div>
          <div>11690</div>
        </div>
        <div class="buy">
          <div>-</div>
          <div>11690</div>
        </div>
        <div class="flex-07 line-height-48 text-al">0.00000005</div>
      </div>
    </div>
  </div>


  <PopupWindow :switch="openStopTheRobot" @close="popStopTheRobot">
    <div slot="header" class="headerDe">
      <span class="header_xuzhi">提示</span>
    </div>
    <div slot="article" class="pop-recharge">
      你确认想要终止 BTCUSDT 网格机器人么？
    </div>
    <div slot="footer" class="flex m-bottom">
      <div class="buy"><span class="cursor" @click="popStopTheRobot">取消</span></div>
      <div class="m-left">
        <span class="btn-blu cursor">确认</span>
      </div>
    </div>
  </PopupWindow>
</div>
