<div class="order-page-container">

  <!--标签-->
  <div class="container-bottom">
    <div class="detail-title flex">
      <div class="detail-order-1">
        <!--        <img src="../../assets/weituo_icon.png" alt="" class="order-img">-->
        {{$t('机器人订单')}}
      </div>

      <router-link to="/index/robotOrder/gridTransaction" class="title-tab flex-center tab-item-first"
                   active-class="selected text_blue-7">
        {{$t('网格交易')}}
      </router-link>
      <router-link to="/index/robotOrder/wirelessNetwork" class="title-tab flex-center margin-a-little tab-item-last"
                   active-class="selected text_blue-7">
        {{$t('无线网格')}}
      </router-link>
      <router-link to="/index/robotOrder/robotHistoricalEntrustment" class="title-tab flex-center margin-a-little tab-item-last"
                   active-class="selected text_blue-7">
        {{$t('历史委托')}}
      </router-link>
      <div class="xian"></div>
    </div>
    <div class="detail-container">
      <router-view></router-view>
    </div>
  </div>
  <div class="clear"></div>


</div>
