<div class="TraddingHall-container" v-if="!isMobile">

<!--  <div class="HeaderTitle-wrap">-->
<!--    <Loading v-show="trade_loading"/>-->
<!--    <HeaderTitle v-show="!trade_loading" :currency_list="currency_list" :socket_tick="socket_tick"-->
<!--                 :socket_snap_shot="socket_snap_shot"-->
<!--                 :socket_price="socket_price" :btc_eth_rate="btc_eth_rate" :buy_sale_list="buy_sale_list"/>-->
<!--  </div>-->

  <div class="traddinghall-main-wrap flex-row  ">
    <!--左侧 货币对 和 饼图-->
    <div class="traddinghall-right-wrap">

      <div class="MarketPrice-wrap" style="border-bottom: 0">
        <MarketPrice :currency_list="currency_list" :socket_price="socket_price" :btc_eth_rate="btc_eth_rate"
                     :socket_tick="socket_tick"/>
      </div>

    </div>

    <!--中路 k线 和 买卖-->
    <div class="traddinghall-mid-wrap">
      <!--币种资料-->
      <!--<div class="bizhonginfo"    @mouseenter="showInfo()" @mouseleave="closeInfo()" v-if="showinfo">-->
         <!--<div src="../../assets/sanjiao.png" class="sanjimg"/>-->
        <!--<CurrencyIntroduction/>-->
      <!--</div>-->
      <!--币种资料 end-->
      <div class="centertop">
        <div class="cen1"    @mouseenter="showInfo()" @mouseleave="closeInfo()">{{symbol.split('_')[0]}}<em class="txt_light">/</em>{{symbol.split('_')[1]}}</div>
        <div class="cen2"><div class="cen21"> {{isNowPrice}}</div><div class="cen22"><em class="txt_light">≈</em>{{isCnyPrice}}</div></div>
        <div class="cen2"><div class="cen31"> {{$t('Change')}}</div><div class="cen32">
          <span class="txt" :class="diff24 > 0 ? 'txt-price' : (diff24 == 0 ? '' : 'txt-price-red')"><span
            style="font-size: 1.4rem">{{diff24 > 0 ? '+' : ''}}{{diff24Ratio}}%</span> <em class="up_down_icon"
                                                                                           :class="diff24 > 0 ? 'up_icon' : (diff24 == 0 ? '' : 'down_icon')"></em></span>
        </div></div>
        <div class="cen2"><div class="cen31"> {{$t('High')}} </div><div class="cen32">
          <span class="txt detail_txt">{{high24}}</span>
        </div></div>
        <div class="cen2"><div class="cen31"> {{$t('Low')}}</div><div class="cen32">
          <span class="txt detail_txt">{{low24}}</span>
        </div></div>
        <div class="cen2"><div class="cen31"> {{$t('Volum')}}</div><div class="cen32">
          <span class="txt detail_txt">{{volume}}&nbsp;{{symbol.split('_')[0]}}</span>
        </div></div>
      </div>
      <div class="TradingView-wrap">
        <TradeContainer :topic_bar="topic_bar"/>
      </div>


      <div class="trading-wrap">
        <div class="progress-bar-title traddinghall-border-bottom relative ">
          <div class="" :class="pendingOrderType == 'limitPrice' ? 'progress-bar-title-brand':'progress-bar-title-brand-default'" @click="changePendingOrderType('limitPrice')">
            {{$t("fixedPrice")}}
          </div>
          <div class="" v-if="this.$store.state.symbol != 'KK_USDT'" :class="pendingOrderType == 'marketPrice' ? 'progress-bar-title-brand':'progress-bar-title-brand-default'" @click="changePendingOrderType('marketPrice')">
            市价
          </div>
<!--          <div class="progress-bar-title-brand-default-robot" @click="createRobotChoose">-->
          <div class="progress-bar-title-brand-default-robot" @click="gridClick">
            <img class="robot-img" src="../../assets/Robot.png" alt="">
            创建机器人
          </div>
<!--          <div class="progress-bar-title-brand-default">-->
<!--            止损-->
<!--          </div>-->
<!--          <div class="progress-bar-title-brand-default">-->
<!--            限价止损-->
<!--          </div>-->
<!--          <div class="progress-bar-title-brand-default">-->
<!--            移动止损-->
<!--          </div>-->


          <!--<div class="service_charge ">-->
              <!--<span>-->
                <!--{{$t("serverCharge")}}: <em :class="{'delete' : BDBInfo}">0.2%</em> <em-->
                <!--:class="{'delete' : !BDBInfo}"> 0.14%</em>-->
                <!--&lt;!&ndash;{{$t('useBtMining',{btReward:btReward})}}&ndash;&gt;-->
                <!--<font class="use_bob_fire">-->
                  <!--{{$t("serverUser")}}-->
                  <!--<router-link to="/index/help/rateStandard" class="text_blue"-->
                               <!--:class="{'bdb_gray': !BDBInfo}">BDB</router-link>-->
                  <!--{{$t("serverFire")}}-->
                <!--</font>-->
              <!--</span>-->
            <!--&lt;!&ndash;<a href="#" class="toggle account-info-toggle"&ndash;&gt;-->
            <!--&lt;!&ndash;:class="{'toggle&#45;&#45;off':!BDBInfo,'toggle&#45;&#45;on':BDBInfo,'toggle&#45;&#45;moving':BDBChanging}"&ndash;&gt;-->
            <!--&lt;!&ndash;@click="clickToggle($event)"></a>&ndash;&gt;-->
            <!--&lt;!&ndash;BDB折扣开关 begin&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="toggle-box vertical-middle">&ndash;&gt;-->
              <!--&lt;!&ndash;<Toggle :toggleOpen="BDBInfo" :switchFunc="clickToggle"/>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--&lt;!&ndash;BDB折扣开关 end&ndash;&gt;-->
          <!--</div>-->
        </div>
        <div class="flex-row" style="margin: auto">
          <div class="ProgressBar-wrap">
            <!--买-->
            <ProgressBar :orderType='0' :fee="BDBInfo" :btc_eth_rate="btc_eth_rate" :socket_price="socket_price"
                         :symbol_config_times="symbol_config_times" :pendingOrderType="pendingOrderType"/>
          </div>

          <div class="ProgressBar-wrap">
            <!--卖-->
            <ProgressBar :orderType='1' :fee="BDBInfo" :btc_eth_rate="btc_eth_rate" :socket_price="socket_price"
                         :symbol_config_times="symbol_config_times" :pendingOrderType="pendingOrderType"/>
          </div>
        </div>
      </div>

    </div>

    <!--右侧实时买卖-->
    <div class="traddinghall-mid-left">
      <div class="pankou"><span @click="showStockFunc" :class="(!latestDealSpread && stockShow)?'text_blue':''" >{{$t("Handicap")}}</span>
        <span class="sscj"  v-show="!latestDealSpread"  :class="(!latestDealSpread && !stockShow)?'text_blue':''" @click="showLatestDeal">{{$t("RealTime")}}</span></div>
      <div class="StockCross-wrap" v-show="stockShow">
        <StockCross :trade_loading="trade_loading" :buy_sale_list="buy_sale_list" :socket_snap_shot="socket_snap_shot"
                    :socket_tick="socket_tick" :btc_eth_rate="btc_eth_rate" :socket_price="socket_price"
                    :currency_list="currency_list"></StockCross>
      </div>
      <div class="AssetOverview-wrap" v-show="!stockShow">
        <LatestDeal :trade_loading="trade_loading" :socket_tick_arr="socket_tick_arr"
                    :socket_tick_obj="socket_tick_obj"/>
      </div>

    </div>

    <div class="traddinghall-right-wrap" style="margin-left: 6px" v-show="latestDealSpread">
      <div class="pankou">{{$t("RealTime")}}</div>
      <div class="AssetOverview-wrap">

        <LatestDeal :trade_loading="trade_loading" :socket_tick_arr="socket_tick_arr"
                    :socket_tick_obj="socket_tick_obj"/>
      </div>


    </div>

  </div>



  <div class="traddinghall-order-wrap">

    <div class=" traddinghall-order-wrap-title">
<!--      <div class="tradinghall-order-tab tab-item-first  tradinghall-order-tab-first">{{$t("now")}}111-->
<!--      </div>-->

      <div class="tradinghall-order-tab"
           :class="isNow==0?'tradinghall-order-activetab':'tradinghall-order-tab3'"
           @click="clickTab(0)">{{$t("机器人订单")}}
      </div>
      <div class="tradinghall-order-tab"
           :class="isNow==1?'tradinghall-order-activetab':'tradinghall-order-tab3'"
           @click="clickTab(1)">{{$t("手动委托")}}
      </div>
      <div class="tradinghall-order-tab-robot robot-order tradinghall-order-tab3" v-if="isNow==0" @click="robotOrder">
        <img src="" alt="">
        {{$t("查看机器人历史委托")}}
      </div>
      <div class="tradinghall-order-tab-robot robot-order tradinghall-order-tab3" v-if="isNow==1" @click="historyOrder">
        <img src="" alt="">
        {{$t("查看历史委托")}}
      </div>
<!--      <div class="tradinghall-order-tab txt-bold"-->
<!--           :class="isNow==1?'tradinghall-order-activetab':'tradinghall-order-tab3'"-->
<!--           @click="clickTab(1)">{{$t("history")}}-->
<!--      </div>-->
<!--      <div class="tradinghall-order-tab txt-bold"-->
<!--           :class="isNow==2?'text_blue tradinghall-order-activetab':''"-->
<!--           @click="clickTab(2)">-->
<!--        {{$t('currencyInfo')}}-->
<!--      </div>-->
      <!--<div class="tradinghall-order-tab tab-item-last box_shadow"-->
           <!--:class="isNow==3?'text_blue tradinghall-order-activetab':''"-->
           <!--@click="clickTab(3)"-->
           <!--v-if="showSuperBeeIntroduction"-->
      <!--&gt;-->
        <!--&lt;!&ndash;为蜜简介&ndash;&gt;-->
        <!--{{$t('bee_introduction')}}-->
      <!--</div>-->
    </div>

    <div v-if="isNow === 1" class="trading-hall-order-box-detail">
      <orderCurrent :tradinghallLimit="tradinghallLimit"/>
    </div>
    <div v-if="isNow === 0" class="trading-hall-order-box-detail">
      <orderHistory :tradinghallLimit="tradinghallLimit"/>
    </div>
<!--    <div v-if="isNow === 2" class="trading-hall-order-box-detail">-->
<!--      <CurrencyIntroduction/>-->
<!--    </div>-->
<!--    <div v-if="isNow === 3" class="trading-hall-order-box-detail">-->
<!--      <SuperBeeIntroduction/>-->
<!--    </div>-->
  </div>
<!--  <div class="traddinghall-order-wrap">-->
<!--    <div class="flex-row traddinghall-order-wrap-title">-->
<!--            <div class="tradinghall-order-tab2">{{$t("history")}}222-->
<!--&lt;!&ndash;              <span>({{$t("InTheLastWeek")}})</span>&ndash;&gt;-->
<!--            </div>-->
<!--      &lt;!&ndash;      <div class="tradinghall-order-tab txt-bold"&ndash;&gt;-->
<!--      &lt;!&ndash;           :class="isNow==2?'text_blue tradinghall-order-activetab':''"&ndash;&gt;-->
<!--      &lt;!&ndash;           @click="clickTab(2)">&ndash;&gt;-->
<!--      &lt;!&ndash;        {{$t('currencyInfo')}}&ndash;&gt;-->
<!--      &lt;!&ndash;      </div>&ndash;&gt;-->
<!--      &lt;!&ndash;<div class="tradinghall-order-tab tab-item-last box_shadow"&ndash;&gt;-->
<!--      &lt;!&ndash;:class="isNow==3?'text_blue tradinghall-order-activetab':''"&ndash;&gt;-->
<!--      &lt;!&ndash;@click="clickTab(3)"&ndash;&gt;-->
<!--      &lt;!&ndash;v-if="showSuperBeeIntroduction"&ndash;&gt;-->
<!--      &lt;!&ndash;&gt;&ndash;&gt;-->
<!--      &lt;!&ndash;&lt;!&ndash;为蜜简介&ndash;&gt;&ndash;&gt;-->
<!--      &lt;!&ndash;{{$t('bee_introduction')}}&ndash;&gt;-->
<!--      &lt;!&ndash;</div>&ndash;&gt;-->
<!--    </div>-->


<!--        <div v-if="1=== 1" class="trading-hall-order-box-detail">-->
<!--          <orderHistory :tradinghallLimit="tradinghallLimit"/>-->
<!--        </div>-->
<!--    &lt;!&ndash;    <div v-if="isNow === 2" class="trading-hall-order-box-detail">&ndash;&gt;-->
<!--    &lt;!&ndash;      <CurrencyIntroduction/>&ndash;&gt;-->
<!--    &lt;!&ndash;    </div>&ndash;&gt;-->
<!--    &lt;!&ndash;    <div v-if="isNow === 3" class="trading-hall-order-box-detail">&ndash;&gt;-->
<!--    &lt;!&ndash;      <SuperBeeIntroduction/>&ndash;&gt;-->
<!--    &lt;!&ndash;    </div>&ndash;&gt;-->
<!--  </div>-->


<!--选择网格类型-->
  <PositionModeBulletBox :switch="popSelectRobot" @close="popCloseSelectRobot" >
    <div slot="header">
      <div class="position-mode-tit">选择机器人</div>
    </div>
    <div slot="article"class="pop-lock-house">
     <div class="grid-Wireless">
      <div class="flex grid-conter">
        <div class="grid-img-conter"><img class="grid-img" src="../robot/assets/GridTransaction.png" alt=""></div>
        <div class="grid-title-conter">
          <div class="grid-title">网格交易</div>
          <div class="grid-explanation">7*24小时自动底买高卖</div>
        </div>
        <div class="create">
          <div class="create-dev" @click="gridClick">创建订单</div>
        </div>
      </div>
       <div class="flex grid-conter">
         <div class="grid-img-conter"><img class="grid-img" src="../robot/assets/Wireless.png" alt=""></div>
         <div class="grid-title-conter">
           <div class="grid-title">无线网络</div>
           <div class="grid-explanation">套利、趋势收益两不误</div>
         </div>
         <div class="create">
           <div class="create-dev">创建订单</div>
         </div>
       </div>
     </div>
    </div>
  </PositionModeBulletBox>
<!--  网格交易-->
  <PositionModeBulletBox :switch="popGridTransaction" @close="popCloseGridTransaction" >
    <div slot="header">
      <img class="grid-img-grid" src="../robot/assets/GridTransaction.png" alt="">
      <div class="position-mode-tit-grid">网格交易</div>
    </div>
    <div slot="article"class="pop-lock-house">
     <div class="grid-Wireless">
       <div class="flex">
         <div class="AIflex AIflex-conter"><img class="Ai-img" src="../../assets/AI-icon.png" alt="">点此自动填入AI参数</div>
         <div class="my-flex use_bob_fire">
           <div class="my-flex-conter" :class="aiType == 1 ? 'select-ai' : ''" @click="getAi(1)">
             使用AI策略
             <img src="../../assets/My-icon.png" class="my-img" alt="" v-if="aiType == 1">
           </div>
           <div class="my-flex-conter m-t"  :class="aiType == 2 ? 'select-ai' : ''" @click="getAi(2)">
             自己设置参数
             <img src="../../assets/My-icon.png" class="my-img" alt="" v-if="aiType == 2">
           </div>
         </div>
       </div>


       <div v-if="aiType == 2">
         <div class="flex Ai-my">
           <div class="minimum">
             <div class="minimum-title">最低价格</div>
             <div>
               <input type="text" placeholder='' class="minimum-input">

             </div>
           </div>
           <div class="highest">
             <div class="minimum-title">最高价格</div>
             <div>
               <input class="minimum-input" type="text">
             </div>
           </div>
         </div>
         <div class="flex margin-top-grid">
           <div class="minimum">
             <div class="minimum-title">最低价格</div>
             <div class="flex">
               <div class="isodyne grid-common" :class="checkPrice==1?'select-grid-common':''" @click="isodyneCommon(1)">等差网格</div>
               <div class="geometricProportion grid-common" :class="checkPrice==2?'select-grid-common':''" @click="isodyneCommon(2)">等比网格</div>
             </div>
           </div>
           <div class="highest">
             <div class="minimum-title">网格数量</div>
             <div>
               <input class="minimum-input" type="text">
             </div>
           </div>
         </div>
         <div class="flex word-color word-bottom">
           <div class="word-flex">使用我的BTC</div>
           <div class="word-flex word-lift">
             <img class="word-flex-img" src="../robot/assets/on.png" v-if="!switchImg" alt="" @click="useBtcClick">
             <img class="word-flex-img" src="../robot/assets/off.png" v-if="switchImg" alt="" @click="useBtcClickOff">
             每格利润:</div>
           <div class="word-flex word-lift">0.37%——0.62%</div>
         </div>
         <div>
           <input class="total-investment" type="text" placeholder="总投资额">
         </div>
         <div class="flex word-color">
           <div class="word-flex">可用资金:</div>
           <div class="word-flex word-lift">≈ 0 USDT</div>
         </div>
       </div>

       <div v-if="aiType == 1">
         <div class="flex ai-word-color Ai-my-top">
           <div class="word-flex">价格区间 (USDT):</div>
           <div class="word-flex word-lift ai-word-color-left">10853.56-18509.53</div>
         </div>
         <div class="flex ai-word-color">
           <div class="word-flex">单网格利润 (已扣除手续费):</div>
           <div class="word-flex word-lift ai-word-color-left">0.34%-0.65% (95 网格数量)</div>
         </div>
         <div class="flex ai-word-color">
           <div class="word-flex">投资额 (USDT):</div>
           <div class="word-flex word-lift ai-word-color-left">(0%)</div>
         </div>

         <div class="ju-text">运行当前网格交易策略最少需要金额为187.32</div>

         <div class="block">
           <el-slider v-model="value3" :show-tooltip="false"></el-slider>
         </div>
       </div>


     </div>
      <!--高级设置-->
      <div class="flex word-color advanced-bac" v-if="aiType == 2">
        <div class="word-flex">高级设置</div>
        <div class="word-flex word-lift">
          <img src="../../assets/jcdown.png" alt="" v-if="!advancedSettings" @click="advancedSettingsClick">
          <img src="../../assets/jtup.png" alt="" v-if="advancedSettings" @click="advancedSettingsClickOn">
        </div>
      </div>
      <div class="chufa" v-if="advancedSettings && aiType == 2">
        <div>
          <div class="word-pcick">触发价格</div>
          <input class="chufa-input" type="text" placeholder="选填 (USDT)">
        </div>
        <div>
          <div class="word-pcick">自动止盈</div>
          <input class="chufa-input" type="text" placeholder="选填 (USDT)">
        </div>
        <div>
          <div class="word-pcick">自动止损</div>
          <input class="chufa-input" type="text" placeholder="选填 (USDT)">
        </div>
      </div>


      <div class="grid-create" :class="aiType == 1?'grid-create-top':''" @click="createOrder">创建订单</div>
    </div>
  </PositionModeBulletBox>
<!--  网格交易二次确认-->
  <PositionModeBulletBox :switch="popConfirmationRobot" @close="popCloseConfirmationRobot" >
    <div slot="header">
      <div class="position-mode-tit">网格交易二次确认</div>
    </div>
    <div slot="article"class="pop-lock-house">
      <div class="grid-Wireless">
        <!--交易对-->
        <div class="flex hight-confirmation">
          <div class="word-flex confirmation-size confirmation-color">交易对</div>
          <div class="word-flex word-lift confirmation-size confir-color">BTC/USDT</div>
        </div>
        <!--投什么赚什么-->
        <div class="flex hight-confirmation">
          <div class="word-flex confirmation-size confirmation-color">投什么赚什么</div>
          <div class="word-flex word-lift confirmation-size confir-color">USDT</div>
        </div>
        <!--价格区间-->
        <div class="flex hight-confirmation">
          <div class="word-flex confirmation-size confirmation-color">价格区间</div>
          <div class="word-flex word-lift confirmation-size confir-color">100000/1200000</div>
        </div>
        <!--网格数量-->
        <div class="flex hight-confirmation">
          <div class="word-flex confirmation-size confirmation-color">网格数量</div>
          <div class="word-flex word-lift confirmation-size confir-color">100000/1200000</div>
        </div>
        <!--每格利润-->
        <div class="flex hight-confirmation">
          <div class="word-flex confirmation-size confirmation-color">每格利润</div>
          <div class="word-flex word-lift confirmation-size confir-color">100000/1200000</div>
        </div>
        <!--投资额-->
        <div class="flex hight-confirmation">
          <div class="word-flex confirmation-size confirmation-color">投资额</div>
          <div class="word-flex word-lift confirmation-size confir-color">100000/1200000</div>
        </div>
        <!--触发价格-->
        <div class="flex hight-confirmation">
          <div class="word-flex confirmation-size confirmation-color">触发价格</div>
          <div class="word-flex word-lift confirmation-size confir-color">100000/1200000</div>
        </div>
        <!--止损价格-->
        <div class="flex hight-confirmation">
          <div class="word-flex confirmation-size confirmation-color">止损价格</div>
          <div class="word-flex word-lift confirmation-size confir-color">100000/1200000</div>
        </div>
        <!--止赢价格-->
        <div class="flex hight-confirmation">
          <div class="word-flex confirmation-size confirmation-color">止赢价格</div>
          <div class="word-flex word-lift confirmation-size confir-color">100000/1200000</div>
        </div>
        <div class="flex hight-conce">
          <div class="create confirmation-size cancel-color"> <span class="cursor" @click="confirmationRobotCancel">取消</span></div>
          <div class="cancel-flex  confirmation-size cancel-color-f" @click="confirmationRobotConfirm">确认</div>
        </div>
      </div>
    </div>
  </PositionModeBulletBox>
<!-- 网格交易取消的二次确认 -->
  <PositionModeBulletBox :switch="popTransactionCancellation" @close="popCloseTransactionCancellation" >
    <div slot="header">
      <div class="position-mode-tit">网格交易取消</div>
    </div>
    <div slot="article"class="pop-lock-house">
      <div class="grid-Wireless">
        <div class="confirmation-size confirmation-color onfirm">您确认想要终止 <span class="confirmation-size confir-color">BTC/USDT</span> 网格机器人么</div>
      </div>
      <div class="flex hight-conce">
        <div class="create confirmation-size cancel-color"> <span class="cursor" @click="popCloseTransactionCancellation">取消</span></div>
        <div class="cancel-flex  confirmation-size cancel-color-f" @click="transactionCancellationConfirm">确认</div>
      </div>
    </div>
  </PositionModeBulletBox>

  <PopupPrompt :popType="popType" :popText="popText" :popOpen="promptOpen" :popClose="closePrompt"></PopupPrompt>
  <!-- 提示信息 end -->


</div>

<div class="TraddingHall-container" v-else>
  <MobileTradingHall/>
</div>
